body {
    font-size: 14px;
}
.page-header {
    margin-top: 0;
    padding-bottom: 5px;
    border-color: #c8c6e4;
}
.page-header h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #363272;
    font-weight: 700;
}

a {
    cursor: pointer;
}
iframe.pdf {
    width: 100%;
    height: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#flash-notices {
    margin-top: -10px;
    margin-bottom: 15px;
}
#flash-notices div, .custom-alert {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 5px 0;
}
#flash-notices .close {
    margin-top: -2px;
}
.btn-block {
    margin-bottom: 10px;
}
@media(max-width:767px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
}
label.control-label.required::after {
    content: "*";
    color: #a94442;
    margin-left: 2px;
}
.nav-tabs li.active a {
    font-weight: bold;
}
.navbar-site-name {
    margin-right: 2px;
}
.text-center img.img-responsive {
    margin-left: auto;
    margin-right: auto;
}
.table-small>tbody>tr>td, .table-small>tbody>tr>th, .table-small>tfoot>tr>td, .table-small>tfoot>tr>th, .table-small>thead>tr>td, .table-small>thead>tr>th {
    padding: 5px;
}
.table-small {
    font-size: 12px;
}
.table-auto-width {
    width: auto;
}
label.label-normal {
    display: inline;
    margin: 0;
    font-weight: normal;
}
@media (min-width: 768px) {
    .dl-horizontal-lg dt {
        width: 200px;
    }
    .dl-horizontal-lg dd {
        margin-left: 220px;
    }
    .dl-horizontal-lg.samples-received dt {
        width: 206px;
    }
}
.dl-vertical dd {
    margin-bottom: 10px;
}
/* for bootstrap date picker */
.form-group {
    position: relative;
}

/* Nav bar customization */
.navbar-brand-subtitle {
    font-size: 11px;
    margin-top: -17px;
    text-align: right;
}
.single-subtitle {
    margin-top: -6px;
}
.navbar-brand img {
    margin-top: -10px;
    margin-right: 5px;
    height: 40px;
    vertical-align: top;
    display: inline-block;
}
.navbar-program {
    width: 300px;
}
.navbar-program img{
    width: 30px;
}
.navbar-inverse {
    border: 0;
    border-radius: 0;
}
.navbar-allofus, .navbar-allofus .navbar-toggle {
    background-color: #262262;
}
.navbar-allofus .navbar-toggle:focus, .navbar-allofus .navbar-toggle:hover {
    background-color: #363272;
}
.navbar-allofus .navbar-nav>.open>a, .navbar-allofus .navbar-nav>.open>a:focus, .navbar-allofus .navbar-nav>.open>a:hover {
    background-color: #161252;
}
.navbar-warning-below {
    margin-bottom: 0;
}
.navbar-warning {
    margin-bottom: 25px;
    padding: 5px 10px;
}
.navbar-warning strong {
    text-transform: uppercase;
}

/* Nav bar role selector */
.navbar-brand-role {
    color: #FFFFFF;
    font-weight: bold;
}
.navbar .dropdown-menu-role {
    right: 0;
    left: -15px;
    font-size: 17px;
}
.navbar .dropdown-menu-role > li > a {
    padding-left: 10px;
}
.navbar .dropdown-menu-role a i {
    color: #363272;
}
.navbar-nav-role {
    margin: 0;
}
@media(max-width:767px) {
    .navbar-nav-role {
        margin-top: 5px;
    }
    .navbar .dropdown-menu-role a i {
        color: #FFFFFF;
    }
}
.navbar-allofus .navbar-nav>.open>a.navbar-brand, .navbar-allofus .navbar-nav>.open>a.navbar-brand:focus, .navbar-allofus .navbar-nav>.open>a.navbar-brand:hover {
    background-color: inherit;
}
.dropdown-toggle .navbar-brand-subtitle {
    text-align: left;
    margin-left: 50px;
}

.notifications-dropdown {
    width: 600px;
    padding: 20px;
}

.badge-notify {
    background: red;
    position: relative;
    top: -12px;
    left: -10px;
}

/*
   IE >= 10 hack
   https://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hidden-ie {
        display: none;
    }
}

/* Home page */
.home-menu .btn-block i.fa {
    display: block;
    font-size: 150%;
    color: #363272;
    margin-top: 5px;
    margin-bottom: 3px;
}
.home-menu .btn-block {
    background-color: #f9f9f9;
}
.home-menu .btn-block:hover, .home-menu .btn-block:active, .home-menu .btn-block:focus {
    background-color: #e6e6e6;
}
.home-menu .description {
    white-space: normal;
    font-size: 70%;
    color: #777777;
    margin-top: 5px;
}

/* Physical evaluation */
#physicalEvaluation .toggle-help-image {
    cursor: pointer;
    color: #337ab7;
}
#physicalEvaluation .input-group-addon {
    padding: 6px;
    font-size: 80%;
    min-width: 50px;
}
#physicalEvaluation .row {
    margin-right: -6px;
    margin-left: -6px;
}
#physicalEvaluation .row .col-sm-4,
#physicalEvaluation .row .col-md-6 {
    padding-right: 6px;
    padding-left: 6px;
}
#physicalEvaluation .lead {
    font-size: 20px;
}
@media(max-width:767px) {
    #physicalEvaluation .row .col-sm-4 {
        margin-bottom: 6px;
    }
}
@media(max-width:991px) {
    #physicalEvaluation .row .col-md-6 {
        margin-bottom: 6px;
    }
}
#physicalEvaluation .convert {
    margin-left: 4px;
}
#physicalEvaluation #evaluationAffixSave {
    background-color: #ffe;
    padding: 2px 0;
}
#physicalEvaluation #evaluationAffixSave.affix-top {
    visibility: hidden;
    position: fixed;
}
#physicalEvaluation #evaluationAffixSave.affix-bottom {
    position: fixed;
    visibility: hidden;
}
#physicalEvaluation #evaluationAffixSave.affix {
    top: 0;
    z-index: 10;
    text-align: center;
    position: fixed;
    visibility: visible;
}
#physicalEvaluation #evaluationAffixSave button {
    padding-right: 20px;
    padding-left: 20px;
}
#physicalEvaluation .bp-warnings .alert {
    font-size: 14px;
    margin-top: 16px;
    font-weight: normal;
}
#physicalEvaluation .blood-pressure-second-reading-warning .alert {
    height: auto !important;
}
.help-header-text {
    color: #337ab7;
    margin-top: 0;
}
#evaluation-summary {
    margin: 20px auto;
    max-width: 500px;
}
.ehr-date {
    margin-bottom: 10px;
}
.ehr-date .form-group {
    margin-bottom: 2px;
}
#biobank-summary {
    margin: 20px auto;
    max-width: 600px;
}
#problem-details {
    margin: 20px auto;
}
.blood-donor-cancel {
    margin-left: 8px;
}

/* Participant page */
#order-overflow, #evaluation-overflow, #problem-overflow, #comment-overflow {
    display: none;
    margin-top: 5px;
}
#order-overflow-show, #evaluation-overflow-show, #problem-overflow-show, #comment-overflow-show {
    margin-top: 5px
}
#participant-consent-status {
    text-align: center;
}
#participant-consent-status .status-block {
    display: inline-block;
    margin: 0 5px 15px 5px;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    min-width: 150px;
}
#participant-consent-status .status-block i.fa-check, #participant-consent-status .status-block i.fa-times, #participant-consent-status .status-block i.fa-question, #participant-consent-status .status-block i.fa-exclamation-triangle, #participant-consent-status .status-block i.fa-sync, #participant-consent-status .status-block i.fa-exclamation-circle {
    display: block;
    font-size: 36px;
}
.participant-detail-status {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    min-width: 150px;
}
.participant-detail-status i.fa-check, .participant-detail-status i.fa-times {
    display: block;
    font-size: 20px;
}

.view-history-dropdown {
    padding: 6px 8px;
    border-radius: 3px;
    margin: 10px;
}

.toggle-help-image, .toggle-help-text {
    cursor: pointer;
    color: #337ab7;
}

.help-icon {
    cursor: pointer;
    color: #337ab7;
}

.view-details .panel-heading div:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
    content: "\f107";
}

.view-details .panel-heading.active div:after {
    content: "\f106";
}

.incentive .parsley-errors-list, .id-verification .parsley-errors-list  {
    margin-left: -36px
}

.incentive .parsley-errors-list li, .id-verification .parsley-errors-list li {
    list-style: none;
    color: #a94442;
}

.incentive-modify i {
    cursor: pointer;
}

.equal-height {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.import-sub-header-icon {
    padding-right: 10px;
    color: #363272;
}

.child-icon {
    color: #7927FF;
}

/* Participant work queue */
.topheader {
    border-bottom: 0 !important;
    font-style: italic;
}
.secondaryheader {
    border-top: 0 !important;
}
.multiheader-survey {
    background-color: #dde;
}
.multiheader-inperson {
    background-color: #eec;
}
.multiheader-demographics {
    background-color: #ded;
}
.multiheader-contact {
    background-color: #edd;
}
.multiheader-patient-status {
    background-color: #ffd;
}
.multiheader-metrics {
    background-color: #edb;
}
.multiheader-consent, .col-consent {
    background-color: #efd;
}
.multiheader-ancillary {
    background-color: #d3e9fc;
}
.dataTables_processing {
    z-index: 1000;
    color: #fff;
    background-color: #337ab7;
}
#workqueue tr.tr-withdrawn, #workqueue_consents_row tr.tr-withdrawn {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 10px,
        #f4e7e7 10px,
        #f4e7e7 20px
    );
    opacity: 0.7;
}
#workqueue tr.tr-withdrawn.odd, #workqueue_consents_row tr.tr-withdrawn.odd {
    background: repeating-linear-gradient(
        -45deg,
        #f9f9f9,
        #f9f9f9 10px,
        #f4e7e7 10px,
        #f4e7e7 20px
    );
}
#filters .form-inline select.form-control {
    margin-bottom: 4px;
}
.page-drop-down {
    display: inline-block;
    margin-right: 30px;
}
#workqueue_consents_row .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right;
    color: grey;
}
#workqueue_consents_row .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}
#workqueue_consents_row .panel-title .accordion-toggle{
    text-decoration: none;
}
#workqueue_consents_row .panel-title small{
    color: #337ab7;
}
#workqueue_consents_row .list-group-item.radio{
    margin-top: 0;
}
#filters .parsley-errors-list, .workqueue-view-form .parsley-errors-list {
    margin-left: -36px
}
#filters .parsley-errors-list li, .workqueue-view-form .parsley-errors-list li {
    list-style: none;
    color: #a94442;
}

#workqueue_consents_row .filter-list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

#workqueue_consents_row .collapse {
    display: block;
}

.workqueue-main-tab {
    background-color: #337ab7 !important;
    margin: 0 4px 0 4px;
    border-radius: 4px 4px 0 0;
}

.workqueue-main-tab > a:hover, .workqueue-main-tab > a:focus{
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.workqueue-main-tab a {
    color: #ffffff !important;
}

.workqueue-tabs .active, .workqueue-tabs .main-active {
    text-decoration: underline;
    font-weight: bold;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

.table-manage-views thead {
    background-color: #efefef;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.filter-group, .columns-filter-group{
    padding-left: 15px;
}

.advanced-filters .dropdown-menu {
    min-width: 250px;
}

.advanced-filters .filter-list-group-item {
    padding: 10px 15px;
}

.advanced-filters li {
    list-style: none;
}

.consent-columns .dropdown-menu {
    min-width: 350px;
}

.wq-main-columns {
    column-width: 200px;
    width: 1350px;
    height: 525px;
    padding: 20px;
}

.wq-main-columns ul li {
    list-style: none;
}

.list-options li {
    width: 100%
}

.list-options .form-group {
    margin-bottom: 15px;
}

.filter-reset {
    z-index: 1000;
    position: relative;
    padding-right: 10px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-warning-new {
    background-color: #ffc107 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-warning-orange {
    background-color: #f2a02b !important;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.text-white {
    color: #fff !important
}

.text-warning-orange {
    color: #f2a02b !important;
}

.dropdown-toggle.active {
    font-weight: bold !important;
}

/* Today's participants */
#table-today>thead>tr>td, #table-today>thead>tr>th {
    border-bottom-width: 1px;
}
#table-today>tbody>tr>td.td-left-border, #table-today>thead>tr>th.td-left-border {
    border-left-width: 3px;
}

/* Orders */
table.table-samples {
    margin-bottom: 5px;
}
table.table-samples td {
    border-top: 0 !important;
}
.header-collected {
    padding-left: 24px;
}
.saliva-info {
    padding-left: 150px;
}
.custom-text-muted {
    color: #dadada;
}
.submission-label {
    margin-right: 10px;
}
.order-check-cancel {
    margin-right: 8px;
}

/* Help */
.help-footer {
    padding-top: 50px;
    padding-bottom: 20px;
}
.help-videos-nav .list-group {
    margin-bottom: 30px;
}
.help-kaltura-embed {
    min-width: 600px;
}

.tz-change-btn {
    padding:2px 6px;
    font-size:12px;
}

.eval-revert-form {
    float: right;
    margin-top: -44px;
    margin-right: 142px;
}

.revert-form {
    float: right;
    margin-top: -44px;
}

.patient-status-block:hover {
    background: lightgrey;
    cursor: pointer;
}

/* On Site Details */
.on-site-filters .parsley-errors-list {
    margin-left: -36px
}

.on-site-filters .parsley-errors-list li {
    list-style: none;
    color: #a94442;
}

.on-site-reset-all {
    margin-top: 8px;
}

.on-site-date-filter-dropdown {
    min-width: 175px;
}

.btn-readonly {
    pointer-events: none;
    cursor: default;
}

.align-middle {
    vertical-align: middle !important;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-success {
    background-color: #5cb85c;
}

.today-filter-well {
    position: relative;
}

.today-filter-well:before {
    content: attr(data-title);
    position: absolute;
    background: #363272;
    color: #ffffff;
    padding: 0 20px;
    left: 0;
    top: 0;
}

.today-filter-well .alert-danger {
    margin-top: 5px;
}

.today-filter > div {
    padding: 0 10px 0 10px;
    height: 45px;
}

.welcome-page-badge {
  display: inline-block;
  font-weight: bold;
  position: absolute;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 1rem;
  top: -0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  border: solid 2pt white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Typeahead styles */

/*
 * Bootstrap defines this rule with .input-group-sm>.form-control
 * but Twitter Typeahead wraps the input.form-control with a span,
 * so we need to redefine this rule
*/
.twitter-typeahead {
    display: block !important;
}
.typeahead-wrapper {
    display: block;
    margin: 50px 0;
}
.input-group .tt-dropdown-menu {
    margin-top: 34px;
}
.tt-menu {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    width: 100%;
}

.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    font-size: 14px;
}
.tt-suggestion {
    padding: 6px 10px;
}
.tt-suggestion.tt-cursor {
    background-color: #ccc;
    cursor: pointer;
}
/* End Typeahead styles */

/* User management */
.attest-choice-text {
    text-decoration: underline;
}

.sub-text {
    padding-left: 30px;
}

.bg-light {
    background-color: #eeeeee!important;
}

.user-add-warning-icon {
    padding-top: 10px;
}

.user-add-warning-text {
    margin-left: -15px;
}

.program-select img {
    max-width: 100%;
    border: 1px solid #cecece;
    border-radius: 10px;
    padding: 25px;
    height: 120px;
}

/* NPH Order */

.sub-samples {
    margin-left: 20px;
}

#login-help>h4 {
    font-weight: bold;
}

.stool-samples-box {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.stool-sub-samples {
    padding-top: 10px;
}

.stool-samples-box-1 {
    background-color: #bcdeff;
}

.stool-samples-box-2 {
    background-color: #fef6a6;
}

.nph-finalize-modal-header {
    background-color: #459500;
    color: #FFFFFF;
}

.expand-pdf::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
}

.expand-pdf[aria-expanded="true"]::after {
    content: "\f106";
}

.text-reminder {
    color: #DA6900;
}

.text-discontinue {
    color: #603F00;
}

.alert-reminder {
    background: #F0AD4E42;
    color: #512700;
    display:inline-block;
}

.stool-unique-error {
    color: #a94442;
}

.input-alert-warning {
    border-color: #8a6d3a;
}

/* NPH Participant details */

.no-dob-banner {
    display: inline-block;
}

.visit-diet {
    font-weight: normal;
    font-style: italic;
}

.display-none {
    display: none;
}

.participant-details-card {
    background-color: #f8f9fa;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.right-float {
    float: right;
}

/* Custom styles to support bootstrap5 classes */

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.aou-blue {
    color: #363272;
}

/* Spinner animation */
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
