.page-header {
    margin-top: 0;
    padding-bottom: 5px;
    border-color: #c8c6e4;
}
.page-header h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #363272;
    font-weight: 700;
}
a {
    cursor: pointer;
}
iframe.pdf {
    width: 100%;
    height: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#flash-notices {
    margin-top: -10px;
    margin-bottom: 15px;
}
#flash-notices div, .custom-alert {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 5px 0;
}
#flash-notices .close {
    margin-top: -2px;
}
.btn-block {
    margin-bottom: 10px;
}
@media(max-width:767px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
}
label.control-label.required::after {
    content: "*";
    color: #a94442;
    margin-left: 2px;
}
.nav-tabs li.active a {
    font-weight: bold;
}
.text-center img.img-responsive {
    margin-left: auto;
    margin-right: auto;
}
.table-small>tbody>tr>td, .table-small>tbody>tr>th, .table-small>tfoot>tr>td, .table-small>tfoot>tr>th, .table-small>thead>tr>td, .table-small>thead>tr>th {
    padding: 5px;
}
.table-small {
    font-size: 12px;
}
.table-auto-width {
    width: auto;
}
label.label-normal {
    display: inline;
    margin: 0;
    font-weight: normal;
}
@media (min-width: 768px) {
    .dl-horizontal-lg dt {
        width: 200px;
    }
    .dl-horizontal-lg dd {
        margin-left: 220px;
    }
    .dl-horizontal-lg.samples-received dt {
        width: 206px;
    }
}
.dl-vertical dd {
    margin-bottom: 10px;
}
/* for bootstrap date picker */
.form-group {
    position: relative;
}

/* Nav bar customization */
.navbar-brand-subtitle {
    font-size: 11px;
    margin-top: -17px;
    text-align: right;
}
.navbar-brand img {
    margin-top: -10px;
    margin-right: 5px;
    height: 40px;
    vertical-align: top;
    display: inline-block;
}
.navbar-inverse {
    border: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #ddd; /* increase contrast */
}
@media(max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ddd; /* increase contrast */
    }
}
.navbar-allofus, .navbar-allofus .navbar-toggle {
    background-color: #262262;
}
.navbar-allofus .navbar-toggle:focus, .navbar-allofus .navbar-toggle:hover {
    background-color: #363272;
}
.navbar-allofus .navbar-nav>.open>a, .navbar-allofus .navbar-nav>.open>a:focus, .navbar-allofus .navbar-nav>.open>a:hover {
    background-color: #161252;
}
.navbar-warning-below {
    margin-bottom: 0;
}
.navbar-warning {
    margin-bottom: 25px;
    padding: 5px 10px;
}
.navbar-warning strong {
    text-transform: uppercase;
}

/* Nav bar role selector */
.navbar-brand-role {
    color: #f48d76;
    font-weight: bold;
}
.navbar .dropdown-menu-role {
    right: 0;
    left: -15px;
    font-size: 17px;
}
.navbar .dropdown-menu-role > li > a {
    padding-left: 10px;
}
.navbar .dropdown-menu-role a i {
    color: #363272;
}
.navbar-nav-role {
    margin: 0;
}
@media(max-width:767px) {
    .navbar-nav-role {
        margin-top: 5px;
    }
    .navbar .dropdown-menu-role a i {
        color: #FFFFFF;
    }
}
.navbar-allofus .navbar-nav>.open>a.navbar-brand, .navbar-allofus .navbar-nav>.open>a.navbar-brand:focus, .navbar-allofus .navbar-nav>.open>a.navbar-brand:hover {
    background-color: inherit;
}
.dropdown-toggle .navbar-brand-subtitle {
    text-align: left;
    margin-left: 50px;
}

/*
   IE >= 10 hack
   https://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hidden-ie {
        display: none;
    }
}

/* Home page */
.home-menu .btn-block i.fa {
    display: block;
    font-size: 150%;
    color: #363272;
    margin-top: 5px;
    margin-bottom: 3px;
}
.home-menu .btn-block {
    background-color: #f9f9f9;
}
.home-menu .btn-block:hover, .home-menu .btn-block:active, .home-menu .btn-block:focus {
    background-color: #e6e6e6;
}
.home-menu .description {
    white-space: normal;
    font-size: 70%;
    color: #777777;
    margin-top: 5px;
}

/* Physical evaluation */
#physicalEvaluation .toggle-help-image {
    cursor: pointer;
    color: #337ab7;
}
#physicalEvaluation .input-group-addon {
    padding: 6px;
    font-size: 80%;
    min-width: 50px;
}
#physicalEvaluation .row {
    margin-right: -6px;
    margin-left: -6px;
}
#physicalEvaluation .row .col-sm-4,
#physicalEvaluation .row .col-md-6 {
    padding-right: 6px;
    padding-left: 6px;
}
@media(max-width:767px) {
    #physicalEvaluation .row .col-sm-4 {
        margin-bottom: 6px;
    }
}
@media(max-width:991px) {
    #physicalEvaluation .row .col-md-6 {
        margin-bottom: 6px;
    }
}
#physicalEvaluation .convert {
    margin-left: 4px;
}
#physicalEvaluation #evaluationAffixSave {
    background-color: #ffe;
    padding: 2px 0;
}
#physicalEvaluation #evaluationAffixSave.affix-top {
    visibility: hidden;
    position: fixed;
}
#physicalEvaluation #evaluationAffixSave.affix-bottom {
    position: fixed;
    visibility: hidden;
}
#physicalEvaluation #evaluationAffixSave.affix {
    top: 0;
    z-index: 10;
    text-align: center;
    position: fixed;
    visibility: visible;
}
#physicalEvaluation #evaluationAffixSave button {
    padding-right: 20px;
    padding-left: 20px;
}
#physicalEvaluation .bp-warnings .alert {
    font-size: 14px;
    margin-top: 16px;
    font-weight: normal;
}
#physicalEvaluation .blood-pressure-second-reading-warning .alert {
    height: auto !important;
}
.help-header-text {
    color: #337ab7;
    margin-top: 0;
}
#evaluation-summary {
    margin: 20px auto;
    max-width: 500px;
}
.ehr-date {
    margin-bottom: 10px;
}
.ehr-date .form-group {
    margin-bottom: 2px;
}
#biobank-summary {
    margin: 20px auto;
    max-width: 600px;
}
#problem-details {
    margin: 20px auto;
}

/* Participant page */
#order-overflow, #evaluation-overflow, #problem-overflow, #comment-overflow {
    display: none;
    margin-top: 5px;
}
#order-overflow-show, #evaluation-overflow-show, #problem-overflow-show, #comment-overflow-show {
    margin-top: 5px
}
#participant-consent-status {
    text-align: center;
}
#participant-consent-status .status-block {
    display: inline-block;
    margin: 0 5px 15px 5px;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    min-width: 150px;
}
#participant-consent-status .status-block i.fa-check, #participant-consent-status .status-block i.fa-times, #participant-consent-status .status-block i.fa-question, #participant-consent-status .status-block i.fa-exclamation-triangle {
    display: block;
    font-size: 36px;
}
.participant-detail-status {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    min-width: 150px;
}
.participant-detail-status i.fa-check, .participant-detail-status i.fa-times {
    display: block;
    font-size: 20px;
}

.toggle-help-image {
    cursor: pointer;
    color: #337ab7;
}

/* Participant work queue */
.topheader {
    border-bottom: 0 !important;
    font-style: italic;
}
.secondaryheader {
    border-top: 0 !important;
}
.multiheader-survey {
    background-color: #dde;
}
.multiheader-inperson {
    background-color: #eec;
}
.multiheader-demographics {
    background-color: #ded;
}
.multiheader-contact {
    background-color: #edd;
}
.multiheader-patient-status {
    background-color: #ffd;
}
.multiheader-metrics {
    background-color: #edb;
}
.multiheader-consent {
    background-color: #efd;
}
.dataTables_processing {
    z-index: 1000;
    color: #fff;
    background-color: #337ab7;
}
#workqueue tr.tr-withdrawn {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 10px,
        #f4e7e7 10px,
        #f4e7e7 20px
    );
    opacity: 0.7;
}
#workqueue tr.tr-withdrawn.odd {
    background: repeating-linear-gradient(
        -45deg,
        #f9f9f9,
        #f9f9f9 10px,
        #f4e7e7 10px,
        #f4e7e7 20px
    );
}
#filters .form-inline select.form-control {
    margin-bottom: 4px;
}

/* Today's participants */
#table-today>thead>tr>td, #table-today>thead>tr>th {
    border-bottom-width: 1px;
}
#table-today>tbody>tr>td.td-left-border, #table-today>thead>tr>th.td-left-border {
    border-left-width: 3px;
}

/* Orders */
table.table-samples {
    margin-bottom: 5px;
}
table.table-samples td {
    border-top: 0 !important;
}
.header-collected {
    padding-left: 24px;
}
.saliva-info {
    padding-left: 150px;
}
.custom-text-muted {
    color: #dadada;
}

/* Help */
.help-footer {
    padding-top: 50px;
    padding-bottom: 20px;
}
.help-videos-nav .list-group {
    margin-bottom: 30px;
}
.help-kaltura-embed {
    min-width: 600px;
}

.tz-change-btn {
    padding:2px 6px;
    font-size:12px;
}

.eval-revert-form {
    float: right;
    margin-top: -44px;
    margin-right: 142px;
}

.revert-form {
    float: right;
    margin-top: -44px;
}

.patient-status-block:hover {
    background: lightgrey;
    cursor: pointer;
}

.btn-readonly {
    pointer-events: none;
    cursor: default;
}

.align-middle {
    vertical-align: middle !important;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-success {
    background-color: #5cb85c;
}

.today-filter-well {
    position: relative;
}

.today-filter-well:before {
    content: attr(data-title);
    position: absolute;
    background: #363272;
    color: #ffffff;
    padding: 0 20px;
    left: 0;
    top: 0;
}

.today-filter-well .alert-danger {
    margin-top: 5px;
}

.today-filter > div {
    padding: 0 10px 0 10px;
    height: 45px;
}

.welcome-page-badge {
  display: inline-block;
  font-weight: bold;
  position: absolute;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 1.5rem;
  top: -0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  border: solid 2pt white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
