.page-header {
    margin-top: 0;
}
.page-header h2 {
    margin-top: 0;
}
a {
    cursor: pointer;
}
iframe.pdf {
    width: 100%;
    height: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#flash-notices {
    margin-top: -10px;
    margin-bottom: 15px;
}
#flash-notices div {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.btn-block {
    margin-bottom: 10px;
}
@media(max-width:767px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
}
label.required::after {
    content: "*";
    color: #a94442;
    margin-left: 2px;
}
.nav-tabs li.active a {
    font-weight: bold;
}
.text-center img.img-responsive {
    margin-left: auto;
    margin-right: auto;
}
.table-small>tbody>tr>td, .table-small>tbody>tr>th, .table-small>tfoot>tr>td, .table-small>tfoot>tr>th, .table-small>thead>tr>td, .table-small>thead>tr>th {
    padding: 5px;
}
.table-small {
    font-size: 12px;
}
.table-auto-width {
    width: auto;
}
label.label-normal {
    display: inline;
    margin: 0;
    font-weight: normal;
}
/* for bootstrap date picker */
.form-group {
    position: relative;
}

/* Nav bar customization */
.navbar-brand-subtitle {
    font-size: 11px;
    margin-top: -7px;
    text-align: right;
}
.navbar-inverse {
    border: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #ddd; /* increase contrast */
}
.navbar-allofus, .navbar-allofus .navbar-toggle {
    background-color: #262262;
}
.navbar-allofus .navbar-toggle:focus, .navbar-allofus .navbar-toggle:hover {
    background-color: #363272;
}
.navbar-allofus .navbar-nav>.open>a, .navbar-allofus .navbar-nav>.open>a:focus, .navbar-allofus .navbar-nav>.open>a:hover {
    background-color: #161252;
}
.navbar-warning-below {
    margin-bottom: 0;
}
.navbar-warning {
    margin-bottom: 25px;
    padding: 5px 10px;
}
.navbar-warning strong {
    text-transform: uppercase;
}

/* Physical evaluation */
#physicalEvaluation .toggle-help-image {
    cursor: pointer;
    color: #337ab7;
}
#physicalEvaluation .input-group-addon {
    padding: 6px;
    font-size: 80%;
    min-width: 50px;
}
#physicalEvaluation .row {
    margin-right: -6px;
    margin-left: -6px;
}
#physicalEvaluation .row .col-sm-4,
#physicalEvaluation .row .col-md-6 {
    padding-right: 6px;
    padding-left: 6px;
}
@media(max-width:767px) {
    #physicalEvaluation .row .col-sm-4 {
        margin-bottom: 6px;
    }
}
@media(max-width:991px) {
    #physicalEvaluation .row .col-md-6 {
        margin-bottom: 6px;
    }
}
#physicalEvaluation .convert {
    margin-left: 4px;
}
#physicalEvaluation #evaluationAffixSave {
    background-color: #ffe;
    padding: 2px 0;
}
#physicalEvaluation #evaluationAffixSave.affix-top {
    visibility: hidden;
    position: fixed;
}
#physicalEvaluation #evaluationAffixSave.affix-bottom {
    position: fixed;
    visibility: hidden;
}
#physicalEvaluation #evaluationAffixSave.affix {
    top: 0;
    z-index: 10;
    text-align: center;
    position: fixed;
    visibility: visible;
}
#physicalEvaluation #evaluationAffixSave button {
    padding-right: 20px;
    padding-left: 20px;
}

/* Participant page */
#order-overflow, #evaluation-overflow {
    display: none;
    margin-top: 5px;
}
#order-overflow-show, #evaluation-overflow-show {
    margin-top: 5px
}

.toggle-help-image {
    cursor: pointer;
    color: #337ab7;
}

/* Participant work queue */
.topheader {
    border-bottom: 0 !important;
    font-style: italic;
}
.secondaryheader {
    border-top: 0 !important;
}
.multiheader-survey {
    background-color: #dde;
}
.multiheader-inperson {
    background-color: #eec;
}
.multiheader-demographics {
    background-color: #ded;
}
.multiheader-contact {
    background-color: #edd;
}

/* Orders */
table.table-samples {
    margin-bottom: 5px;
}
table.table-samples td {
    border-top: 0 !important;
}

.help-footer {
    padding-top: 50px;
    padding-bottom: 20px;
}
