a {
    text-decoration: none;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.col-form-label.required::after, .form-label.required::after {
    content: "*";
    color: #a94442;
    margin-left: 2px;
}

.participant-details-card {
    border: none;
}

.participant-details-col {
    border: 1px solid #d2d2d2;
    background-color: #f8f9fa;
    border-radius: 0.375rem;
}

.in-person-card .btn-block:hover {
    background-color: #e6e6e6;
}

.fs-xs {
    font-size: 0.75rem;
}

.fs-sm {
    font-size: 0.875rem;
}

.scrollspy-participant-overview {
    height: 550px;
    overflow-y: scroll;
}

.scroll-header {
    position: relative;
}

.scroll-header {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.scroll-header span {
    background:#fff;
    padding:0 10px;
    margin-left: 30px;
}

.participant-detail-new-status {
    display: inline-block;
    margin: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    min-width: 250px;
}

.big-status-box {
    min-width: 300px;
}

.end-status-box {
    margin-bottom: 6rem;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}

.invalid-feedback {
    color: #a94442;
    font-size: 0.9rem;
}

.text-blue {
    color: #0d6efd;
}

.text-orange {
    color: #fd7e14;
}

.text-purple {
    color: #6f42c1;
}

.aou-order-form .col-form-label, .aou-order-form .form-label {
    font-weight: 700;
}

.aou-order-form .form-check-input {
    border-color: #7a8086
}

.aou-order-form .form-check-input[disabled] ~ .form-check-label, .aou-order-form .form-check-input:disabled ~ .form-check-label {
    opacity: 1;
}

.form-control[readonly] {
    background-color: #eeeeee;
    opacity: 1;
}
