/* Styles for dashboard interface */

.plotly-div {
    margin-top: 15px;
}

.plotly-div g.g-gtitle tspan {
    text-decoration: underline;
}

.center-filter-panel {
    max-height: 400px;
    overflow-y: scroll;
}

.spinner {
    /* so the spinner doesn't appear on top of Bootstrap modals */
    z-index: 999 !important;
}

.raw-data-table th, .raw-data-table td {
    white-space: nowrap;
}
