.navbar, .navbar .navbar-toggle {
    background-color: #262262;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #363272;
}
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover {
    background-color: #161252;
}
