.navbar, .navbar .navbar-toggle {
    background-color: #719500;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #9ed101;
}
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover {
    background-color: #526801;
}
