.navbar, .navbar .navbar-toggle {
    background-color: #459500;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #9ed101;
}
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover {
    background-color: #2C5F00 !important;
}
.nav-item.dropdown > a.nav-link.dropdown-toggle:hover {
    color: #d7d7d7 !important;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #FFFFFF;
}
@media(max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
}
.nav-tabs > li.participant-module.active > a.nav-link {
    background-color: #235389;
    color: #FFFFFF;
}
.nav-pills.nav > li.participant-activity.active > a {
    background-color: #667584;
    color: #FFFFFF;
}
.nph-module-badge {
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-size: small;
    padding-left: 5px;
}
.nph-module-badge.nph-module-1 {
    background-color: #5D01A5;
}
.nph-module-badge.nph-module-2 {
    background-color: #FF8813;
}
.nph-module-badge.nph-module-3 {
    background-color: #C0143C;
}
.well-sm.well.visit-dropdown {
    background-color: #D7DBDE;
}
.nph-visit.nph-visit-badge {
    background-color: #667584;
}
.nph-samples-badge{
    background-color: #235389;
}
.navbar .dropdown-menu-role {
    right: 0;
    left: -15px;
    font-size: 17px;
    min-width: 280px
}
.timepoint-panel {
    min-height: 195px;
}
div.timepoint-samples.panel-body {
    padding: 5px;
}
.participant-activity-div {
    margin-top: 20px;
}
.participant-modules {
    margin-top: 10px;
}
.participant-information {
    padding-bottom: 20px;
}
.participant-module-header {
    padding-left: 0;
    width: 75%;
    float: left;
}
.required::after {
    content: "*";
    color: #a94442;
    margin-left: 2px;
}
#aliquot-tube {
    padding-left: 0;
}
table tr td.nopadleft {
    padding-left: 0;
}
table tr td input.aliquot-volume {
    padding-right: 0;
}
li.participant-activity > a {
    padding: 10px 29px
}
.table>tbody>tr.row-message>td {
    padding: 0 0 10px 0;
    margin: 0;
}
.table>tbody>tr.row-samples>td>p {
    margin-bottom: 10px;
    margin-top: 10px;
}
div.alert.alert-danger.well-sm {
    margin-bottom: 0;
    margin-top: 20px;
}
div.page-header.row.participant-name {
    height: 3em;
}
div.participant-name>h2>span.label.label-warning.nph-module-badge {
    line-height: 3em;
    vertical-align: middle;
}
div.order-row {
    min-height: 3em;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.font-bold {
    font-weight: bold;
}
.hair-nail-optin {
    float: right;
    margin-top: 7px;
}
.sample-finalize-eraser {
    position: absolute;
    bottom: 10px;
    left: 33px;
    font-size: 22px
}
.sample-metadata-eraser {
    bottom: 20px;
    left: 33px;
    font-size: 22px
}
.aliquot-volume-units {
    position: absolute;
    bottom: 7px;
    left: 0;
}
#hair-nail-warning {
    margin-bottom: 0;
    font-size: 12px;
}
.sample-disabled-colored {
    color: #A59D9B;
}
.warning-text {
    color: #df4633;
}
.dlw-collect-bg {
    background-color: #fde8ca;
}
.dlw-collect-button, .dlw-collect-button:hover {
    background-color: #ff8813 !important;
    color: white !important;
}
.dlw-collect-text {
    margin-top: 8px;
}
.margin-top-30 {
    margin-top: 30px;
}
.clickable {
    cursor: pointer;
}
.clickable_underline {
    cursor: pointer;
    text-decoration: underline;
    color: #337ab7;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text, .navbar-inverse .nav-link {
    color: #FFFFFF !important; /* increase contrast */
}
.navbar-inverse .navbar-toggler {
    background-color: #FFFFFF;
}
.generate-orders-button {
    margin-bottom: 15px;
    margin-top: 10px;
}

.visit-diet-details:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
    content: "\f106";
}

.visit-diet-details.collapsed:after {
    content: "\f107";
}

.collapse-carat:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
    content: "\f106";
}

.collapse-carat.collapsed:after {
    content: "\f107";
}

.totalCollectionVolumeField {
    width: 20%;
}
.nowrap {
    white-space: nowrap;
}
.date-range-warning {
    border: 2px solid #8a6d3b;
}
.bulk-modify-table {
    max-height: 350px;
    display: block;
    overflow: auto
}
.col-sm-1-5 {
    flex: 0 0 auto;
    max-width: 13.5%;
}

.participant-diet-period a.active {
    text-decoration: underline;
}

.participant-diet-period a.disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
    opacity: 40%;
}
