.navbar, .navbar .navbar-toggle {
    background-color: #719500;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #9ed101;
}
.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover {
    background-color: #526801;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #FFFFFF;
}
@media(max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
}
.timepoint-panel {
    min-height: 220px;
}
