<h3>Find by Order ID</h3>
<p class="fst-italic">Search for an order ID to view and edit the associated order generation data.</p>
{{ form_start(idForm, { attr: { action: path('nph_order_manage_lookup'), class: 'disable-enter' } }) }}
{{ form_widget(idForm) }}
<button type="submit" class="btn btn-primary">Go</button>
{{ form_end(idForm) }}
