{% set current_route = app.request.attributes.get('_route') %}
<ul class="nav nav-tabs">
    <li role="presentation" {% if current_route == 'biobank_orders_today' %}class="active"{% endif %}><a href="{{ path('biobank_orders_today') }}">Today's Biobank Orders</a></li>
    <li role="presentation" {% if current_route == 'biobank_orders_unfinalized' %}class="active"{% endif %}><a href="{{ path('biobank_orders_unfinalized') }}">Unfinalized Biobank Orders</a></li>
    <li role="presentation" {% if current_route == 'biobank_orders_unlocked' %}class="active"{% endif %}><a href="{{ path('biobank_orders_unlocked') }}">Unlocked Biobank Orders</a></li>
    <li role="presentation" {% if current_route == 'biobank_orders_recentModify' %}class="active"{% endif %}><a href="{{ path('biobank_orders_recentModify') }}">Recently Modified Biobank Orders</a></li>
</ul>
