{% if app.session.get('orderType') == 'hpo' %}
    {% if showBloodTubes and showPediatricBloodTubes %}
    <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Pediatric Blood Order</h5>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id="customize-off" {% if showCustom %} style="display:none"{% endif %}>
                        <p>Create a pediatric blood biospecimen order.</p>
                        <p>
                            <button type="submit" name="blood" class="btn btn-primary">
                                Create
                                <span id="spinner" class="spinner-border spinner-border-sm" style="display: none;"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Pediatric Urine Order</h5>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id="customize-off">
                        <p>Create a pediatric urine biospecimen order.</p>
                        <p>
                            <button type="submit" name="urine" class="btn btn-primary">
                                Create
                                <span id="spinner" class="spinner-border spinner-border-sm" style="display: none;"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if showSalivaTubes %}
    <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center">Pediatric Saliva Order</h5>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div id="customize-off">
                        <p>Create a pediatric saliva biospecimen order.</p>
                        <p>
                            <button type="submit" name="saliva" class="btn btn-primary">
                                Create
                                <span id="spinner" class="spinner-border spinner-border-sm" style="display: none;"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endif %}
{% endif %}
