{% extends 'base.html.twig' %}
{% block title %}Admin - {% endblock %}
{% block body %}
    <div class="page-header">
        <h2><i class="fa fa-cog" aria-hidden="true"></i> Admin</h2>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <a href="{{ path('admin_sites') }}" class="btn btn-lg btn-default btn-block"><i class="fa fa-hospital-o" aria-hidden="true"></i> Sites</a>
        </div>
    </div>
{% endblock %}
