{% set current_route = app.request.get('_route') %}
<div class="page-header">
    <h2><i class="fa fa-clipboard-list" aria-hidden="true"></i> On-Site Details Reporting</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" {% if current_route == 'on_site_incentive_tracking' %}class="active"{% endif %}><a
                    href="{{ path('on_site_incentive_tracking') }}">Incentive Tracking</a></li>
            <li role="presentation" {% if current_route == 'on_site_patient_status' %}class="active"{% endif %}><a
                    href="{{ path('on_site_patient_status') }}">Patient Status</a></li>
        </ul>
    </div>
</div>
<br/>
