<div class="text-right form-inline">
    <div class="page-drop-down">
        Page <select name="pageDropDown" class="form-control input-sm"></select>&nbsp;of&nbsp;<span
            class="total-pages"></span>
    </div>
    <button data-href="{{ path(exportRoute, params) }}" class="btn btn-xs btn-default export"><i
            class="fa fa-download" aria-hidden="true"></i> Export
    </button>
</div>
