<button href="#" class="dropdown-toggle btn {{ participantId ? 'btn-primary' : 'btn-default' }}" data-toggle="dropdown">
    <i class="fa fa-search" aria-hidden="true"></i> Participant Lookup <b class="caret"></b>
</button>
<ul class="dropdown-menu">
    <li>
        <div class="list-group-item bg-light">
            <b>Find by ID</b>
            <small class="pull-right">
                <a class="date-filter-reset" id="participant_id_filter_reset">
                    Reset
                </a>
            </small>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label required" for="participantId">Participant ID</label>
                <input type="text" name="participantId" class="form-control" id="participantId"
                       value="{{ participantId }}"
                       autocomplete="off"
                       required="required"
                       data-parsley-required>
            </div>
            <p class="text-center">
                <button type="button" class="btn btn-primary" id="participant_id_filter_apply">
                    Apply
                </button>
            </p>
        </div>
    </li>
</ul>
