<div class="modal fade" id="aliquot_collection_notes_modal" tabindex="-1" aria-labelledby="aliquotCollectionNotesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-primary"></i> Collection Notes</h5>
            </div>
            <div class="modal-body">
                <p class="text-danger"> <i class="fa fa-exclamation-triangle"></i> Editing the collection notes on this page will also update the collection notes on the sample collection page.</p>
                <ul>
                    <li>Comments entered in the notes field are transmitted to the Biobank via reconciliation reporting.</li>
                    <li><u>Do not enter any participant identifying information.</u></li>
                    <li>Both collection and finalization notes are sent to the Biobank.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
