<div class="modal fade" id="collection_notes_modal" tabindex="-1" aria-labelledby="collectionNotesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-exclamation-circle text-primary"></i> Sample Notes</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Comments entered in the notes field are transmitted to the Biobank via reconciliation reporting.</li>
                    <li><u>Do not enter any participant identifying information.</u></li>
                    <li>Both collection and finalization notes are sent to the Biobank.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
