<div class="modal fade" id="optional_stool_kit_modal" tabindex="-1" aria-labelledby="optionalStoolKitLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Optional Stool Kit</h5>
            </div>
            <div class="modal-body">
                If the participant is unable to produce enough stool in a single collection attempt, a second stool kit
                may be generated. Refer to Biobank MOP for prioritization of collection tubes.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
