{% extends 'dashboard/base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
  <br />
  {% include 'dashboard/partials/tabs.html.twig' with {active_tab: 'ehr-characterization'} %}
  <div class="row">
    <div class="col-md-3">
      <ul role="tablist"class="nav nav-pills nav-stacked" role="tablist" aria-orientation="vertical">
        <li role="presentation" class="active"><a href="#ehr-person" aria-controls="ehr-person" role="tab" data-toggle="tab">Person</a></li>
        <li role="presentation"><a href="#ehr-datadensity" aria-controls="ehr-datadensity" role="tab" data-toggle="tab">Data Density</a></li>
        <li role="presentation"><a href="#ehr-achilles" aria-controls="ehr-achilles" role="tab" data-toggle="tab">Achilles</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div id="plotly-tabs" class="tab-content">
        <div id="ehr-person" class="tab-pane pad active fade in" data-source="{{ ehr_data_sources[0].folder }}" data-label="{{ ehr_data_sources[0].name }}">
          <h3 id="personReport">Person <small id="person-filter-title"></small></h3>
          <hr />
          <div class="row">
            <div class="col-md-12">
              <div id="plotly-ehr-year-of-birth" class="plotly-div"></div>
            </div>
            <div class="col-md-12">
              <div id="plotly-ehr-population-by-gender" class="plotly-div"></div>
            </div>
            <div class="col-md-12">
              <div id="plotly-ehr-population-by-race" class="plotly-div"></div>
            </div>
            <div class="col-md-12">
              <div id="plotly-ehr-population-by-ethnicity" class="plotly-div"></div>
            </div>
          </div>
        </div>
        <div id="ehr-datadensity" class="tab-pane pad fade in">
          <div class="pull-right">
            {% include 'dashboard/partials/ehr-data-sources-filter.html.twig' with {id: 'datadensity-filter'}  %}
          </div>
          <h3 id="dataDensityReport">Data Density <small id="datadensity-filter-title"></small></h3>
          <hr />
          <div id="plotly-ehr-total-rows" class="plotly-div"></div>
          <div id="plotly-ehr-records-per-person" class="plotly-div"></div>
          <div id="plotly-ehr-concepts-per-person" class="plotly-div"></div>
        </div>
        <div id="ehr-achilles" class="tab-pane pad fade in">
          <div class="pull-right">
            {% include 'dashboard/partials/ehr-data-sources-filter.html.twig' with {id: 'achillesheel-filter'}  %}
          </div>
          <h3 id="achillesReport">Achilles Report <small id="achillesheel-filter-title"></small></h3>
          <hr />
          <table id="ehr-errors-table" class="table table-sm" style="width:100%">
            <thead>
              <th>Message Type</th>
              <th>Record Count</th>
              <th>Message</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include 'dashboard/partials/modal-dashboard-help.html.twig' %}
{% endblock %}

{% block pagejs %}
<script>
// Add loading icons, clear previous errors
$('.plotly-div').empty();
$('.plotly-div').html('<div class="text-center"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i> Loading ...</span>');
$('.table-div').empty();

// gather params
var ehrPlotlyWidth = $('#plotly-ehr-year-of-birth').width() - 30;

/**
 * Error Messages
 */
var ErrorMessages = {
    no_data: 'No data returned from the metrics endpoint.',
    general: 'Error encountered while retrieving the data'
}

/**
 * Show Error
 */
function showError(div, msg) {
  $(div).empty()
  $(div).append('<div class="alert alert-danger">' + msg + '</div>')
}

/**
 * Render Metric Plots
 */
function renderMetricPlots() {

  /**
   * Person
   */
  function updatePersonGraphs() {
      var plotlyDiv,
          plotlyTitle,
          plotlyLayout;
      $.getJSON('/dashboard/ehr-characterization-data', {
              mode: 'person',
              source: $('#ehr-person').data('source'),
              csrf_token: CsrfToken
          })
          .done(function(data) {
              $('#person-filter-title').html($('#ehr-person').data('label'));
              // Year of Birth
              plotlyDiv = $('#plotly-ehr-year-of-birth').empty();
              plotlyTitle = '<b>Year of Birth</b>';
              if (data.year.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      width: $(plotlyDiv).width() - 30,
                      height: ($(plotlyDiv).width() - 30) / 1.66,
                      hovermode: 'closest',
                      annotations: [],
                      yaxis: {},
                      xaxis: {}
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.year, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

              // Population by Gender
              plotlyDiv = $('#plotly-ehr-population-by-gender').empty();
              plotlyTitle = '<b>Population by Gender</b>';
              if (data.gender.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      hovermode: 'closest'
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.gender, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

              // Population by Race
              plotlyDiv = $('#plotly-ehr-population-by-race').empty();
              plotlyTitle = '<b>Population by Race</b>';
              if (data.race.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      hovermode: 'closest'
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.race, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

              // Population by Ethnicity
              plotlyDiv = $('#plotly-ehr-population-by-ethnicity').empty();
              plotlyTitle = '<b>Population by Ethnicity</b>';
              if (data.ethnicity.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      hovermode: 'closest'
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.ethnicity, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

          })
          .fail(function(jqXHR) {
              try {
                  showError(plotlyDiv, JSON.parse(jqXHR.responseText).error);
              } catch (e) {
                  showError(plotlyDiv, ErrorMessages.general);
              }
          });
  }

  /**
   * Density
   */
  function updateDataDensityGraphs() {
      var plotlyDiv,
          plotlyTitle,
          plotlyLayout;
      $.getJSON('/dashboard/ehr-characterization-data', {
              mode: 'density',
              source: $('#datadensity-filter').val(),
              csrf_token: CsrfToken
          })
          .done(function(data) {
              $('#datadensity-filter-title').html($('#datadensity-filter option:selected').text());
              // Total Rows
              plotlyDiv = $('#plotly-ehr-total-rows').empty();
              plotlyTitle = '<b>Total Rows</b>';
              if (data.totalRows.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      width: $(plotlyDiv).width() - 30,
                      height: ($(plotlyDiv).width() - 30) / 1.66,
                      hovermode: 'closest',
                      annotations: [],
                      yaxis: {},
                      xaxis: {}
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.totalRows, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

              // Records Per Person
              plotlyDiv = $('#plotly-ehr-records-per-person').empty();
              plotlyTitle = '<b>Records Per Person</b>';
              if (data.recordsPerPerson.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      hovermode: 'closest'
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.recordsPerPerson, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

              // Concepts Per Person
              plotlyDiv = $('#plotly-ehr-concepts-per-person').empty();
              plotlyTitle = '<b>Concepts Per Person</b>';
              if (data.conceptsPerPerson.length != 0) {
                  plotlyLayout = {
                      title: plotlyTitle,
                      font: PLOTLY_LABEL_FONT,
                      hovermode: 'closest'
                  };
                  Plotly.newPlot($(plotlyDiv).attr('id'), data.conceptsPerPerson, plotlyLayout, PLOTLY_OPTS);
                  removePlotlyLink($(plotlyDiv).attr('id'));
              } else {
                  showError(plotlyDiv, ErrorMessages.no_data)
              }

          })
          .fail(function(jqXHR) {
              try {
                  showError(plotlyDiv, JSON.parse(jqXHR.responseText).error);
              } catch (e) {
                  showError(plotlyDiv, ErrorMessages.general);
              }
          });
  }

  /**
   * Errors Table
   */
  function updateAchillesHeelTable() {
    $('#achillesheel-filter-title').html($('#achillesheel-filter option:selected').text());
    // Clean up previous instance if present
    $('#ehr-errors-table').dataTable().fnDestroy();
    $('#ehr-errors-table').dataTable({
      ajax: {
        url: '/dashboard/ehr-characterization-data',
        data: {
          mode: 'achillesheel',
          source: $('#achillesheel-filter').val(),
          csrf_token: CsrfToken
        }
      },
      paging: false,
      columns: [
        { data: 'type' },
        { data: 'count' },
        { data: 'message' }
      ],
      rowCallback: function(row, data) {
        if (data.type == 'ERROR') {
          $(row).addClass('alert alert-danger');
        }
        if (data.type == 'WARNING') {
          $(row).addClass('alert alert-warning');
        }
        if (data.type == 'NOTIFICATION') {
          $(row).addClass('alert alert-info');
        }
      },
      order: [[ 0, 'asc' ], [ 1, 'desc' ]]
    });
  }

  // Listen on change event
  $('select[name="ehr_data_source"]').on('change', function () {
    $.when(
      updatePersonGraphs(), updateDataDensityGraphs(), updateAchillesHeelTable()
    ).done(function() {
        $('#loading-modal').modal('hide');
    });
  })

  // Call them in sequence
  $.when(
    updatePersonGraphs(), updateDataDensityGraphs(), updateAchillesHeelTable()
  ).done(function() {
      $('#loading-modal').modal('hide');
  });
}

renderMetricPlots()

</script>
{% endblock %}
