{% extends 'dashboard/base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    {% include 'dashboard/partials/modal-loading-cached-metrics.html.twig' %}
    <br />
    {% include 'dashboard/partials/tabs.html.twig' with {active_tab: 'participants-by-lifecycle'} %}
    <div id="plotly-tabs" class="tab-content">
        <div id="participants-by-lifecycle" class="tab-pane pad active fade in">
            <div class="row">
                <div class="col-md-3">
                    {% include 'dashboard/partials/filters.html.twig' with {id: 'participants-by-lifecycle', show_organizations: false, show_recruitment_centers: true, recruitment_centers: recruitment_centers, show_enrollment_status: true, show_participant_origination: true} %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4 class="text-primary">Plot Options</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row form-group-sm">
                                <div class="col-md-12 col-xs-12 form-group form-group-sm">
                                    <label for="lifecycle-end-date">Cutoff</label>
                                    <input type="text" class="form-control lifecycle-time-control datepicker" id="lifecycle-end-date" />
                                </div>
                                <div class="col-md-12 col-xs-12 form-group form-group-sm">
                                    <label>Show Column Totals <input type="checkbox" id="lifecycle-plot-show-annot" class="lifecycle-plot-control"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 plotly-div">
                  <!-- Overview -->
                  <div id="plotly-participants-by-lifecycle-overview"></div>
                  <div class="table-responsive">
                      <div id="participants-by-lifecycle-overview-table"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <hr />
                    </div>
                  </div>
                  <!-- Baseline PPI -->
                  <div id="plotly-participants-by-lifecycle-baseline"></div>
                  <div class="table-responsive">
                      <div id="participants-by-lifecycle-baseline-table"></div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <hr />
                    </div>
                  </div>
                  <!-- Retention PPI -->
                  <div id="plotly-participants-by-lifecycle-retention"></div>
                  <div class="table-responsive">
                      <div id="participants-by-lifecycle-retention-table"></div>
                  </div>
            </div>
        </div>
    </div>
    {% include 'dashboard/partials/modal-dashboard-help.html.twig' %}
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    // function to grab current filter values and load JSON from load_map_data REST endpoint
    // success handler calls Plotly.newplot()
    function renderLcPlot(dialogType) {
        var lifecycleCenters = loadRecruitmentFilters('participants-by-lifecycle');
        var enrollmentStatuses = loadEnrollmentFilters('participants-by-lifecycle');
        if (lifecycleCenters.length == 0) {
            alert('You must select at least one recruitment center to plot results');
            return false;
        }
        var participantOriginations = loadParticipantOriginationFilters('participants-by-lifecycle');
        if (participantOriginations.length == 0) {
            alert('You must select at least one recruitment origin to plot results.');
            return false;
        }

        var lcWidth = $('#plotly-participants-by-lifecycle-overview').width() - 30;
        var spinnerLoc = 'plotly-participants-by-lifecycle-overview';
        if (dialogType == 'spinner') {
            launchSpinner(spinnerLoc);
        } else if (dialogType == 'modal') {
            spinnerLoc = 'modal-spinner-target';
            // empty target in case there was an error message beforehand
            $('#' + spinnerLoc).empty();
            launchSpinner(spinnerLoc);
            $('#loading-modal').modal('show');
        }
        var lcEndDate = $('#lifecycle-end-date').val();
        var lcShowAnnot = $('#lifecycle-plot-show-annot').is(':checked');

        if (lifecycleCenters.length == $('#participants-by-lifecycle .center-filter').length) {
            lifecycleCenters = ['ALL'];
        }

        /**
         * Overview
         */
        $.getJSON('/dashboard/metrics_load_lifecycle', {
          csrf_token: CsrfToken,
          stratification: 'LIFECYCLE',
          mode: 'overview',
          end_date: lcEndDate,
          centers: lifecycleCenters,
          enrollment_statuses: enrollmentStatuses,
          origins: participantOriginations,
          history: true
        })
        .done(function(data) {
            if (data.length != 0) {
                var lcAnnot = [];
                var lcTitle = 'Participant registrations by <b>lifecycle phase</b> as of ' + lcEndDate;
                var lcLayout = {
                    title: lcTitle,
                    font: PLOTLY_LABEL_FONT,
                    barmode: 'stack',
                    width: lcWidth,
                    height: lcWidth / 1.33,
                    annotations: lcAnnot,
                    xaxis: {
                        tickangle: -45,
                        fixedrange: true
                    },
                    yaxis: {
                        fixedrange: true
                    },
                    margin: {
                        b: 150,
                        pad: 5
                    }
                };

                // load column totals if requested
                if (lcShowAnnot) {
                    loadBarChartAnnotations(data, lcAnnot);
                }

                // load table data
                var lcTable = $('#participants-by-lifecycle-overview-table');
                loadTableData(lcTable, data, 'Status');

                // render plot, remove plotly link and stop spinner
                Plotly.newPlot('plotly-participants-by-lifecycle-overview', data, lcLayout, PLOTLY_OPTS);
                removePlotlyLink('plotly-participants-by-lifecycle-overview');
                stopSpinner(spinnerLoc);

                if (dialogType == 'modal') {
                    $('#loading-modal').modal('hide');
                }
            } else {
                setMetricsError(spinnerLoc);
            }
        });

        /**
         * PPI Baseline
         */
        $.getJSON('/dashboard/metrics_load_lifecycle', {
          csrf_token: CsrfToken,
          stratification: 'LIFECYCLE',
          mode: 'ppi_baseline',
          end_date: lcEndDate,
          centers: lifecycleCenters,
          enrollment_statuses: enrollmentStatuses,
          origins: participantOriginations,
          history: true
        })
        .done(function(data) {
            if (data.length != 0) {
                var lcAnnot = [];
                var lcTitle = '<b>Baseline PPI Module Completion</b> as of ' + lcEndDate;
                var lcLayout = {
                    title: lcTitle,
                    font: PLOTLY_LABEL_FONT,
                    barmode: 'stack',
                    width: lcWidth,
                    height: lcWidth / 1.33,
                    annotations: lcAnnot,
                    xaxis: {
                        tickangle: -45,
                        fixedrange: true
                    },
                    yaxis: {
                        fixedrange: true
                    },
                    margin: {
                        b: 150,
                        pad: 5
                    }
                };

                // load column totals if requested
                if (lcShowAnnot) {
                    loadBarChartAnnotations(data, lcAnnot);
                }

                // load table data
                var lcTable = $('#participants-by-lifecycle-baseline-table');
                loadTableData(lcTable, data, 'Status');

                // render plot, remove plotly link and stop spinner
                Plotly.newPlot('plotly-participants-by-lifecycle-baseline', data, lcLayout, PLOTLY_OPTS);
                removePlotlyLink('plotly-participants-by-lifecycle-baseline');
                stopSpinner(spinnerLoc);

                if (dialogType == 'modal') {
                    $('#loading-modal').modal('hide');
                }
            } else {
                setMetricsError(spinnerLoc);
            }
        });

        /**
         * PPI Retention
         */
        $.getJSON('/dashboard/metrics_load_lifecycle', {
          csrf_token: CsrfToken,
          stratification: 'LIFECYCLE',
          mode: 'ppi_retention',
          end_date: lcEndDate,
          centers: lifecycleCenters,
          enrollment_statuses: enrollmentStatuses,
          origins: participantOriginations,
          history: true
        })
        .done(function(data) {
            if (data.length != 0) {
                var lcAnnot = [];
                var lcTitle = '<b>Retention PPI Module Completion</b> as of ' + lcEndDate;
                var lcLayout = {
                    title: lcTitle,
                    font: PLOTLY_LABEL_FONT,
                    barmode: 'stack',
                    width: lcWidth,
                    height: lcWidth / 1.33,
                    annotations: lcAnnot,
                    xaxis: {
                        tickangle: -45,
                        fixedrange: true
                    },
                    yaxis: {
                        fixedrange: true
                    },
                    margin: {
                        b: 150,
                        pad: 5
                    }
                };

                // load column totals if requested
                if (lcShowAnnot) {
                    loadBarChartAnnotations(data, lcAnnot);
                }

                // load table data
                var lcTable = $('#participants-by-lifecycle-retention-table');
                loadTableData(lcTable, data, 'Status');

                // render plot, remove plotly link and stop spinner
                Plotly.newPlot('plotly-participants-by-lifecycle-retention', data, lcLayout, PLOTLY_OPTS);
                removePlotlyLink('plotly-participants-by-lifecycle-retention');
                stopSpinner(spinnerLoc);

                if (dialogType == 'modal') {
                    $('#loading-modal').modal('hide');
                }
            } else {
                setMetricsError(spinnerLoc);
            }
        });

    }

    var now = new Date().toISOString().split('T')[0];
    $('#lifecycle-end-date').val(now);

    // if plot has not been shown yet, render and then store state
    // this will prevent points render calls once map has been initialized
    if (!PLOTS_SHOWN['participants-by-lifecycle-nav']) {
        renderLcPlot('spinner');
        PLOTS_SHOWN['participants-by-lifecycle-nav'] = true;
    }

    // re-render on filter change
    $('.lifecycle-plot-control').on('change', function() {
        renderLcPlot('spinner');
    });

    // re-render on filter change with modal (for time changes, may need new metrics)
    $('.lifecycle-time-control').on('change', function() {
        renderLcPlot('modal');
    });

    // re-render on window resizeEnd if tab is visible
    $( window ).on('resizeEnd', function() {
        if ($('#plotly-participants-by-lifecycle').is(':visible')) {
            renderLcPlot('');
        }
    });

    $('#participants-by-lifecycle').find('.redraw-plotly').on('click', function() {
        renderLcPlot('spinner');
    });
</script>
{% endblock %}
