<div class="modal-header">
    <h3 class="modal-title">Patient Status History</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="panel-title">{{ siteInfo.getOrganizationDisplayName(organization) }}</h5>
                    </div>
                    <div class="card-body">
                        {% if orgPatientStatusHistoryData is not empty %}
                            {% include 'partials/patient-status-history-dl.html.twig' %}
                        {% else %}
                            No History Found
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
