/vendor/
/app.yaml
cron.yaml
php.ini
/node_modules/
/bower_components/
/web/assets/dist
/web/build
/web/favicon.ico
/cache/
/dev_config/*
!dev_config/config.yml.dist
!dev_config/migrations-db.php
!dev_config/migrations-staging.yml.dist
.idea
/bin/GeoLite2-Country.mmdb
ci/*.secret
/deploy_*.txt
/docker-compose.override.yml
.phpunit.result.cache

###> friendsofphp/php-cs-fixer ###
/tools/php-cs-fixer/vendor/
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/bin/GeoLite2-Country.mmdb
