/vendor/
/app.yaml
cron.yaml
php.ini
/node_modules/
/bower_components/
/web/assets/dist
/web/favicon.ico
/cache/
/dev_config/*
!dev_config/config.yml.dist
.idea
/bin/GeoLite2-Country.mmdb
ci/*.secret
/deploy_*.txt
/docker-compose.override.yml
