runtime: php83

# default is `public/index.php` or `index.php`
entrypoint: serve web/index.php

handlers:
- url: /robots.txt
  static_files: web/robots.txt
  upload: web/robots.txt
  secure: always
- url: /favicon.ico
  static_files: web/favicon.ico
  upload: web/favicon.ico
  secure: always
- url: /assets
  static_dir: web/assets
  secure: always
  http_headers:
    Content-Security-Policy: "default-src 'self'; object-src 'none'; require-trusted-types-for 'script'; frame-ancestors 'self'"
    Strict-Transport-Security: "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options: nosniff
    X-Frame-Options: SAMEORIGIN
    X-XSS-Protection: "1; mode=block"
- url: /build
  static_dir: web/build
  secure: always
  http_headers:
    Content-Security-Policy: "default-src 'self'; object-src 'none'; require-trusted-types-for 'script'; frame-ancestors 'self'"
    Strict-Transport-Security: "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options: nosniff
    X-Frame-Options: SAMEORIGIN
    X-XSS-Protection: "1; mode=block"
- url: /cron/.*
  script: auto
  secure: always
- url: /timeout
  script: auto
  secure: always
- url: /.*
  script: auto
  secure: always

env_variables:
  PMI_ENV: 'dev'
