runtime: php55
api_version: 1

skip_files:
- ^(.*/)?vendor/mouf/nodejs-installer/.*$
- ^(.*/)?vendor/nodejs/.*$
- ^(.*/)?vendor/google/apiclient-services/src/Google/Service/(AdExchange|AdSense|Android|Blogger|Books|Games|ShoppingContent|YouTube).*$
- ^(.*/)?node_modules.*$
- ^(.*/)?bower_components.*$
- ^(.*/)?\.gitignore$
- ^(.*/)?\.git$
- ^(.*/)?nbproject$
- '^(.*/)?dev_config$'
- ^(.*/)?external$
- ^deploy_.*\.txt$

error_handlers:
- error_code: dos_api_denial
  file: dos-response.html

handlers:
- url: /robots.txt
  static_files: web/robots.txt
  upload: web/robots.txt
  secure: always
- url: /favicon.ico
  static_files: web/favicon.ico
  upload: web/favicon.ico
  secure: always
- url: /assets
  static_dir: web/assets
  secure: always
  http_headers:
    X-Content-Type-Options: nosniff
- url: /cron/.*
  script: web/index.php
  secure: always
  login: admin
- url: /timeout
  script: web/index.php
  secure: always
- url: /.*
  script: web/index.php
  secure: always

env_variables:
  PMI_ENV: 'dev'
