cron:
- description: "Used to verify cron functionality in test sites"
  url: /cron/ping-test
  schedule: 29 of feb 00:00
  timezone: America/Chicago
- description: "Withdrawal notification"
  url: /cron/withdrawal
  schedule: every day 07:00
  timezone: America/Chicago
- description: "Missing measurements/orders notification"
  url: /cron/missing-measurements-orders
  schedule: every day 08:00
  timezone: America/Chicago
- description: "Delete datastore cache keys"
  url: /cron/delete-cache-keys
  schedule: every 1 hours
  timezone: America/Chicago
