blacklist:
    -
        subnet: 1.0.0.0/8
    -
        subnet: 2.0.0.0/7
    -
        subnet: 4.0.0.0/6
    -
        subnet: 8.0.0.0/5
    -
        subnet: 16.0.0.0/4
    -
        subnet: 32.0.0.0/5
    -
        subnet: 40.0.0.0/6
    -
        subnet: 44.0.0.0/8
    -
        subnet: 45.0.0.0/11
    -
        subnet: 45.32.0.0/12
    -
        subnet: 45.48.0.0/13
    -
        subnet: 45.56.0.0/14
    -
        subnet: 45.61.0.0/16
    -
        subnet: 45.62.0.0/15
    -
        subnet: 45.64.0.0/10
    -
        subnet: 45.128.0.0/10
    -
        subnet: 45.192.0.0/12
    -
        subnet: 45.208.0.0/13
    -
        subnet: 45.216.0.0/14
    -
        subnet: 45.220.0.0/15
    -
        subnet: 45.222.0.0/16
    -
        subnet: 45.224.0.0/11
    -
        subnet: 46.0.0.0/7
    -
        subnet: 48.0.0.0/4
    -
        subnet: 64.0.0.0/3
    -
        subnet: 96.0.0.0/5
    -
        subnet: 104.0.0.0/7
    -
        subnet: 106.0.0.0/8
    -
        subnet: 107.0.0.0/9
    -
        subnet: 107.128.0.0/12
    -
        subnet: 107.144.0.0/13
    -
        subnet: 107.152.0.0/15
    -
        subnet: 107.155.0.0/16
    -
        subnet: 107.156.0.0/14
    -
        subnet: 107.160.0.0/11
    -
        subnet: 107.192.0.0/10
    -
        subnet: 108.0.0.0/6
    -
        subnet: 112.0.0.0/4
    -
        subnet: 128.0.0.0/3
    -
        subnet: 160.0.0.0/4
    -
        subnet: 176.0.0.0/5
    -
        subnet: 184.0.0.0/8
    -
        subnet: 185.0.0.0/13
    -
        subnet: 185.8.0.0/15
    -
        subnet: 185.10.0.0/16
    -
        subnet: 185.11.0.0/18
    -
        subnet: 185.11.64.0/19
    -
        subnet: 185.11.96.0/20
    -
        subnet: 185.11.112.0/21
    -
        subnet: 185.11.120.0/22
    -
        subnet: 185.11.128.0/17
    -
        subnet: 185.12.0.0/14
    -
        subnet: 185.16.0.0/12
    -
        subnet: 185.32.0.0/11
    -
        subnet: 185.64.0.0/10
    -
        subnet: 185.128.0.0/9
    -
        subnet: 186.0.0.0/7
    -
        subnet: 188.0.0.0/6
    -
        subnet: 192.0.0.0/9
    -
        subnet: 192.128.0.0/10
    -
        subnet: 192.192.0.0/11
    -
        subnet: 192.224.0.0/14
    -
        subnet: 192.228.0.0/15
    -
        subnet: 192.230.0.0/18
    -
        subnet: 192.230.128.0/17
    -
        subnet: 192.231.0.0/16
    -
        subnet: 192.232.0.0/13
    -
        subnet: 192.240.0.0/12
    -
        subnet: 193.0.0.0/8
    -
        subnet: 194.0.0.0/7
    -
        subnet: 196.0.0.0/7
    -
        subnet: 198.0.0.0/9
    -
        subnet: 198.128.0.0/13
    -
        subnet: 198.136.0.0/14
    -
        subnet: 198.140.0.0/15
    -
        subnet: 198.142.0.0/16
    -
        subnet: 198.143.0.0/19
    -
        subnet: 198.143.64.0/18
    -
        subnet: 198.143.128.0/17
    -
        subnet: 198.144.0.0/12
    -
        subnet: 198.160.0.0/11
    -
        subnet: 198.192.0.0/10
    -
        subnet: 199.0.0.0/10
    -
        subnet: 199.64.0.0/12
    -
        subnet: 199.80.0.0/15
    -
        subnet: 199.82.0.0/16
    -
        subnet: 199.83.0.0/17
    -
        subnet: 199.83.136.0/21
    -
        subnet: 199.83.144.0/20
    -
        subnet: 199.83.160.0/19
    -
        subnet: 199.83.192.0/18
    -
        subnet: 199.84.0.0/14
    -
        subnet: 199.88.0.0/13
    -
        subnet: 199.96.0.0/11
    -
        subnet: 199.128.0.0/9
    -
        subnet: 200.0.0.0/5
    -
        subnet: 208.0.0.0/4
    -
        subnet: 224.0.0.0/3
    -
        subnet: '::/0'
