google_app_engine.enable_functions = "php_sapi_name"
date.timezone = UTC
; note that GAE forces to 1 for app admins
; http://stackoverflow.com/a/23026196/1402028
display_errors = 0
error_reporting = E_ALL & ~E_NOTICE & ~E_STRICT & ~E_DEPRECATED
session.cookie_httponly = 1
session.cookie_secure = 1
google_app_engine.disable_readonly_filesystem = 1
