includes:
	- phpstan-baseline.neon

parameters:
	level: 0
	paths:
		- src
	bootstrapFiles:
		- vendor/autoload.php
	doctrine:
		objectManagerLoader: tests/object-manager.php
	symfony:
		container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
