<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <server name="PMI_ENV" value="local"/>
    <server name="APP_ENV" value="test"/>
  </php>
  <extensions>
    <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    <bootstrap class="App\Tests\PHPUnit\GlobalHandlerCleanupExtension"/>
  </extensions>
  <testsuites>
    <testsuite name="Symfony Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
