<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
    >
    <php>
      <ini name="error_reporting" value="E_ALL" />
      <env name="KERNEL_CLASS" value="App\Kernel" />
      <server name="PMI_ENV" value="local" />
      <server name="APP_ENV" value="test" />
    </php>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
    <testsuites>
        <testsuite name="Symfony Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
