<phpunit bootstrap="vendor/autoload.php" 
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
    >
    <php>
        <env name="data" value="workqueue"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Pmi</directory>
        </testsuite>
        <testsuite name="ui">
            <directory>tests/Ui</directory>
        </testsuite>
    </testsuites>
</phpunit>
