<p class="text-muted">
    To report a  technical issue, please use the  <a href="https://redcap.pmi-ops.org/surveys/?s=ND8RJL78X4YWTKRX"> HealthPro Technical Issue Reporting Tool </a>, and for assistance with yours or your users' PMI-Ops credentials, please reach out to <a href="mailto:drcsupport@vumc.org">drcsupport@vumc.org</a>.
</p>
