<div class="panel panel-default" id="id_verification">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-id-card" aria-hidden="true"></i> ID Verification
        </h3>
    </div>
    <div class="panel-body">
        {{ form_start(idVerificationForm, { attr: { class: 'disable-enter prevent-resubmit incentive-form' } }) }}
        {{ form_errors(idVerificationForm) }}
        {{ form_rest(idVerificationForm) }}
        <button type="submit" id="incentive_submit" class="btn btn-primary">Submit</button>
        {% if type is defined and type == 'edit' %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% else %}
            <button type="button" class="btn btn-default" id="incentive_cancel">Cancel</button>
        {% endif %}
    </div>
</div>
