{% if siteInfo.isTestSite %}
    {% set errorTitle = 'Test user' %}
    {% set errorMessage = 'Data collection and entry for test users are prohibited in this environment.' %}
{% elseif participant.statusReason == 'test-participant' %}
    {% set errorTitle = 'This is not a real participant' %}
    {% set errorMessage = 'Data collection and entry for test participants are prohibited in this environment. You may not create a biobank order or collect physical measurements for this participant.' %}
{% elseif participant.statusReason == 'basics' %}
    {% set errorTitle = 'The Basics survey not complete' %}
    {% set errorMessage = 'This participant has consented but has not completed "The Basics" survey in the participant app and is therefore ineligible for physical measurements and biospecimen collection. Please direct the participant to complete "The Basics" survey in the participant application to enable in person enrollment or contact the help desk if needed.' %}
{% elseif participant.statusReason == 'withdrawal' %}
    {% set errorTitle = 'Withdrawn participant' %}
    {% set errorMessage = 'This participant has withdrawn from the All of Us Research Program. No new data can be collected or sent for this participant. Staff must also follow all site-specific SOPs to ensure all All of Us Research Program data are removed from all local systems for this participant.' %}
{% elseif participant.statusReason == 'deceased-pending' %}
    {% set errorTitle = 'Deceased Participant' %}
    {% set errorMessage = 'This participant has a pending Deceased Participant report. You may not create a biobank order or collect physical measurements for this participant.' %}
{% elseif participant.statusReason == 'deceased-approved' %}
    {% set errorTitle = 'Deceased Participant' %}
    {% set errorMessage = 'This participant has been reported and accepted as deceased. You may not create a biobank order or collect physical measurements for this participant.' %}
{% elseif participant.statusReason == 'genomics' %}
    {% set errorTitle = 'Genomic Return of Results Consent not complete' %}
    {% set errorMessage = 'This participant has provided primary consent but has not completed Genomic Return of Results consent in the Participant Portal and is therefore ineligible to be scheduled for or complete physical measurements and biospecimen collection. Please direct the participant to complete the Genomic Return of Results consent in the Participant Portal to enable in-person enrollment or contact the Help Desk, if needed.' %}
{% elseif participant.statusReason == 'ehr-consent' %}
    {% set errorTitle = 'EHR Consent not complete' %}
    {% set errorMessage = 'This participant has provided primary consent but has not completed EHR Consent in the Participant Portal and is therefore ineligible to be scheduled for or complete physical measurements and biospecimen collection. Please direct the participant to complete the necessary consent components in the Participant Portal to enable in-person enrollment or contact the Help Desk, if needed.' %}
{% elseif participant.statusReason == 'program-update' %}
    {% set errorTitle = 'Program Update Not Reviewed' %}
    {% set errorMessage = 'This participant has previously provided general consent but has not completed their review of the updated primary consent in the Participant Portal and is therefore ineligible to be scheduled for or complete physical measurements and biospecimen collection. Please direct the participant to review the updated primary consent (complete the Program Update) in the Participant Portal to enable in-person enrollment or contact the Help Desk, if needed.' %}
{% elseif participant.statusReason == 'primary-consent-update' %}
    {% set errorTitle = 'Updated Primary Consent not complete' %}
    {% set errorMessage = 'This participant has previously provided general consent but has not signed the updated primary consent form in the Participant Portal and is therefore ineligible to be scheduled for or complete physical measurements and biospecimen collection. Please direct the participant to complete the updated primary consent in the Participant Portal to enable in-person enrollment or contact the Help Desk, if needed.' %}
{% else %}
    {% set errorTitle = 'Consent not complete' %}
    {% set errorMessage = 'This participant has not completed consent for enrollment.' %}
{% endif %}

<div class="card border-danger-subtle mb-4">
    <div class="card-header bg-danger-subtle">
        <h6 class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ errorTitle }}</h6>
    </div>
    <div class="card-body">
        <p>{{ errorMessage }}</p>
        {% include 'partials/participant-withdrawn-notice.html.twig' %}
    </div>
</div>
