<div class="panel-group" id="accordion_patient_status_history" role="tablist" aria-multiselectable="true">
    <div class="panel-heading" role="tab">
        <h5>
            <span role="button" data-toggle="collapse" data-parent="#accordion_patient_status_history" href="#collapse_patient_status_history" aria-expanded="true" aria-controls="collapseOne">
                View Patient Status History: {{ app.session.get('siteOrganizationDisplayName') }}
            </span>
        </h5>
    </div>
    <div id="collapse_patient_status_history" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            {% include 'partials/patient-status-history-dl.html.twig' %}
        </div>
    </div>
</div>
