<button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
    <i class="fa fa-search" aria-hidden="true"></i> Participant Lookup <b class="caret"></b>
</button>
<ul class="dropdown-menu">
    <li>
        <small class="pull-right filter-reset">
            <a id="participant_lookup_reset" data-group-id="participant_lookup_group">Reset</a>
        </small>
        <div class="panel-body">
            <h4>Search by Name</h4>
            <div class="form-group">
                <label class="control-label required" for="lastName">Last name</label>
                <input type="text" name="lastName" required="required" class="form-control" id="lastName"
                       value="{{ params['lastName']|default('') }}" placeholder="Doe" data-parsley-required>
            </div>
            <div class="form-group">
                <label class="control-label" for="firstName">First name</label>
                <input type="text" name="firstName" class="form-control" id="firstName"
                       value="{{ params['firstName']|default('') }}" placeholder="John">
            </div>
            <div class="form-group">
                <label class="control-label required" for="dateOfBirth">Date of birth</label>
                <input type="text" name="dateOfBirth" required="required" class="form-control" id="dateOfBirth"
                       value="{{ params['dateOfBirth']|default('') }}" placeholder="MM/DD/YYYY" autocomplete="off"
                       data-parsley-date-mdy data-parsley-required>
            </div>
            <p>
                <button type="button" class="btn btn-primary" id="participant_search">Search</button>
            </p>
            <h4>Find by ID</h4>
            <div class="form-group">
                <label class="control-label required" for="participantId">Participant ID</label>
                <input type="text" name="participantId" required="required" class="form-control" id="participantId"
                       value="{{ params['participantId']|default('') }}" placeholder="P000000000" data-parsley-required>
            </div>
            <p>
                <button type="button" class="btn btn-primary" id="participant_id_search">Search</button>
            </p>
        </div>
    </li>
</ul>
