<div class="text-right form-inline">
    <div class="page-drop-down">
        Page <select name="pageDropDown" class="form-control input-sm"></select>&nbsp;of&nbsp;<span class="total-pages"></span>
    </div>
    {% if canExport %}
        <button data-href="{{ path('workqueue_export', params) }}" class="btn btn-xs btn-default export"><i class="fa fa-download" aria-hidden="true"></i> Export {{ exportType is defined ? 'All' : '' }}</button>
        {% if exportType is defined %}
            {% set params = params|merge({
                'exportType': exportType
            }) %}
            <button data-href="{{ path('workqueue_export', params) }}" class="btn btn-xs btn-default export"><i class="fa fa-download" aria-hidden="true"></i> Export Selected</button>
        {% endif %}
    {% endif %}
</div>
