{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <i class="fa fa-minus-circle"></i>
        <strong>Access denied!</strong> <a href="{{ logoutUrl }}">Please try again</a>.
    </div>
{% endblock %}
