{# No need for fancy display for this error #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inaccessible - HealthPro</title>
    </head>
    <body>
        <div style="margin: 20px;">
            I'm sorry, HealthPro is not accessible from your device.
        </div>
        <!-- ip -->
    </body>
</html>
