{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <strong>Access denied!</strong> You are not logged in, please <a href="{{ path('mockLogin') }}">Login</a>.
    </div>
{% endblock %}
