{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <p>
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <strong>An error occurred.</strong> Sorry, there was a problem logging you in to HealthPro.  Please <a href="{{ logoutUrl }}">try again</a>.
        </p>
    </div>
{% endblock %}
