{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <i class="fa fa-minus-circle"></i>
        <strong>Access denied!</strong> You are not logged in, please <a href="/s/login">login</a>.
    </div>
{% endblock %}
