{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <i class="fa fa-minus-circle"></i>
        <strong>Access denied!</strong> You are not logged in, please <a href="{{ path('mockLogin') }}">login</a>.
    </div>
{% endblock %}
