{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <strong>Access denied!</strong> You are not logged into Google, please login.
    </div>

    <form action="/" method="get">
        <label>Email:</label>
        <input type="text" name="user"/>
        <input type="submit" value="Login"/>
    </form>
{% endblock %}
