{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>Authenticated via Google Groups</h2>
    </div>
    <div class="container">
        <ul>
            {% for groupName in groupNames %} 
                <li>{{ groupName }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
