{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>Welcome!</h2>
    </div>
    <p class="text-center">
        <a href="{{ path('participants') }}" class="btn btn-lg btn-default"><i class="fa fa-user" aria-hidden="true"></i> Participant Lookup</a>
        <a href="{{ path('orders') }}" class="btn btn-lg btn-default"><i class="fa fa-medkit" aria-hidden="true"></i> Order Lookup</a>
    </p>
{% endblock %}
