{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>Welcome!</h2>
    </div>
    <p>
        <a href="{{ path('participants') }}" class="btn btn-lg btn-default"><i class="fa fa-user" aria-hidden="true"></i> Patient Lookup</a>
        <a href="#" class="btn btn-lg btn-default"><i class="fa fa-medkit" aria-hidden="true"></i> Sample Lookup</a>
    </p>
{% endblock %}
