{% extends 'base.html.twig' %}
{% block title %}Process - Order {{ order.id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'process' } %}

    {{ form_start(processForm) }}
        {{ form_widget(processForm) }}
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.processed_ts %}
                    Update
                {% else %}
                    Save and mark as processed
                {% endif %}
            </button>
        </p>
    {{ form_end(processForm) }}
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function () {
    $('input.sample-disabled').closest('label').addClass('text-danger');
    $('input.sample-disabled').closest('div.checkbox').append('<small class="text-muted">was not collected</small>');
    $('#form_processed_samples input').each(function() {
        if ($(this).attr('disabled')) {
            return;
        }
        var checkBoxDiv = $(this).closest('div.checkbox');
        var sample = $(this).val();
        $('#form_processed_samples_ts_' + sample).closest('.form-group')
            .detach()
            .appendTo(checkBoxDiv)
            .css('margin', '5px 0 15px 20px');
        $('#form_processed_samples_ts_' + sample)
            .addClass('input-sm')
            .datetimepicker(PMI.datetimepickerDefaults);
    });
    $('#form_processed_samples_ts').remove();
});
</script>
{% endblock %}
