{% extends 'base.html.twig' %}
{% block title %}Print Labels - Order {{ order.order_id }} - {% endblock %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'printLabels' } %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {% if order.printed_ts and errorMessage is empty %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Labels</h3>
                    </div>
                    <div class="panel-body">
                        <div id="labels-loading-widget" class="text-center hidden-ie">
                            <p id="labels-loading"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading</p>
                            <p id="labels-loaded">
                                <a href="javascript:window.labels.print();" class="btn btn-primary btn-sm">
                                    <i class="fa fa-print" aria-hidden="true"></i> Print
                                </a>
                            </p>
                        </div>
                        <iframe name="labels" class="pdf pdf-labels" src="{{ path('orderLabelsPdf', { participantId: participant.id, orderId: order.id }) }}#view=FitH"></iframe>
                    </div>
                </div>
            {% else %}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-times-circle" aria-hidden="true"></i>Error</h3>
                    </div>
                    <div class="panel-body">
                        {{ errorMessage }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
<script>
$(document).ready(function() {
    $('#labels-loaded').hide();
    $('iframe[name=labels]').on('load', function() {
        try {
            if (typeof window.labels.print === 'function') {
                $('#labels-loading').hide();
                $('#labels-loaded').show();
            } else {
                $('#labels-loading-widget').hide();
            }
        } catch (e) {
            // catch firefox issue where pdf.js plugin makes the pdf frame cross-origin
            // https://github.com/mozilla/pdf.js/issues/5397
            $('#labels-loading-widget').hide();
        }
    });
});
</script>
{% endblock %}
