{% extends 'base.html.twig' %}
{% block body %}
    {% include 'order-header.html.twig' with { active: 'process' } %}

    {{ form_start(processForm) }}
        {{ form_widget(processForm) }}
        <p>
            <button type="submit" class="btn btn-primary">
                {% if order.processed_ts %}
                    Update
                {% else %}
                    Save and mark as processed
                {% endif %}
            </button>
        </p>
    {{ form_end(processForm) }}
{% endblock %}
