{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>{{ participant.lastName }}, {{ participant.firstName }} <small>#{{ participant.id }}</small></h2>
    </div>
{% endblock %}
