{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h2>Settings</h2>
            </div>
            {{ form_start(settingsForm) }}
                {{ form_errors(settingsForm) }}
                {{ form_widget(settingsForm) }}
                <p><button type="submit" class="btn btn-primary">Update Settings</button></p>
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}
{% block pagejs %}
<script>
$(document).ready(function() {
    if (PMI.isTimeZoneDiff) {
        var html = '<div class="alert alert-info tz-info"><a id="tz_set">Click Here</a> to set time zone to your computer\'s time zone "'+PMI.timeZones[PMI.browserTimeZone]+'"</div>';
        $('.page-header').after(html);
    }
    $('#tz_set').on('click', function(){
        $('#form_timezone').val(PMI.browserTimeZone);
        $('.tz-info').hide();
    });
});
</script>
{% endblock %}
