{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>Settings</h2>
    </div>
    {{ form_start(settingsForm) }}
        {{ form_errors(settingsForm) }}
        {{ form_widget(settingsForm) }}
        <p><button type="submit" class="btn btn-primary">Update Settings</button></p>
    {{ form_end(settingsForm) }}
{% endblock %}
