<div class="modal fade" id="pediatricAssentWarningModal" tabindex="-1" aria-labelledby="pediatricAssentWarningModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pediatricAssentWarningModalLabel">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Confirm Response
                </h5>
            </div>
            <div class="modal-body">
                <p class="mb-0">By selecting No, you acknowledge that this selection becomes part of the record and cannot be modified or deleted after submission. Do you wish to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="acknowledgeNoAssentBtn">Acknowledge &amp; Proceed</button>
            </div>
        </div>
    </div>
</div>
