<nav class="navbar navbar-expand-sm navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" {% if siteInfo.canSwitchProgram %}
            data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% endif %}>
            <img src="{{ asset('img/all-of-us-logo-stacked-inverted.svg') }}" alt="All of Us logo"/>
        </a>
        <div class="navbar-collapse" id="pmi-navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="#">
                        HealthPro
                    </a>
                </li>
            </ul>
            {% include 'program/hpo/ppsc/partials/display-site-name.html.twig' with { 'bootstrapVersion' : bootstrapVersion } %}
        </div>
    </div>
</nav>
