<nav class="navbar navbar-expand-sm navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" {% if siteInfo.canSwitchProgram %}
            data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% endif %}>
            <img src="{{ asset('img/all-of-us-logo-stacked-inverted.svg') }}" alt="All of Us logo"/>
        </a>
        {% set site = '' %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.session.get('site').id is defined %}
            {% set site = app.session.get('site').id %}
        {% endif %}
        <div class="navbar-collapse" id="pmi-navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="#" data-site-name="{{ site }}">
                        HealthPro
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
