{% extends 'biobank/base.html.twig' %}
{% block body %}
    <div class="page-header pb-1 my-4 border-bottom">
        <h2>Welcome!</h2>
    </div>
    <div class="row home-menu row-equal-height">
        <div class="col-sm-6 col-md-4 btn btn-lg btn-default btn-block border">
            <a href="{{ path('biobank_participants') }}" class="w-100 text-dark">
                <i class="fa fa-user" aria-hidden="true"></i>
                Participant Lookup
                <div class="description">Search for participants by Biobank ID.</div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('biobank_orders') }}" class="btn btn-lg btn-default btn-block border w-100 text-dark">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                Order Lookup
                <div class="description">Search for a biospecimen order by order ID and view recent biospecimen orders.</div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('biobank_orders_today') }}" class="btn btn-lg btn-default btn-block border w-100 text-dark">
                <i class="fa fa-list" aria-hidden="true"></i>
                Daily Review
                <div class="description">Review Biobank orders that were created today, are unfinalized, or were recently modified.</div>
            </a>
        </div>
    </div>
{% endblock %}
