{% extends 'biobank/base.html.twig' %}
{% block title %}Participants - {% endblock %}
{% block body %}
    {% form_theme idForm 'bootstrap_5_layout.html.twig' %}
    <div class="page-header border-bottom">
        <h2><i class="fa fa-user" aria-hidden="true"></i> Participant Lookup</h2>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6">
            <h3><i class="fa fa-list-ol" aria-hidden="true"></i> Find by ID</h3>
            {{ form_start(idForm, { attr: { class: 'prevent-resubmit' } }) }}
            {{ form_widget(idForm) }}
            <p>
                <button type="submit" class="btn btn-primary">Go</button>
            </p>
            {{ form_end(idForm) }}
        </div>
    </div>
{% endblock %}
