<div class="text-center">
    <p class="text-muted">
        For additional assistance with HealthPro, please contact the NPH Helpdesk at
        <a href="mailto:NPH-Helpdesk@nutritionforprecisionhealth.org">NPH-Helpdesk@nutritionforprecisionhealth.org</a>
        or use the “Report a Technical Issue” button below.
    </p>
    {% include 'partials/drc-support-text.html.twig' %}
</div>
