{% set viewId = app.request.get('viewId') %}
<div class="page-header">
    <h2><i class="fa fa-table" aria-hidden="true"></i> Work Queues</h2>
</div>
<div class="text-right">
    <button class="btn btn-success btn-xs" id="save_view">Save View {% if viewId %} As {% endif %}</button>
    {% if viewId is empty %}
        <button class="btn btn-default btn-xs" id="manage_views">Manage Views</button>
    {% endif %}
</div>
{% set current_route = app.request.get('_route') %}
<ul class="nav nav-tabs">
    <li role="presentation" {% if current_route == 'workqueue_index' and viewId is empty %}class="active"{% endif %}>
        <a href="{{ path('workqueue_index') }}">Participant Work Queue</a>
    </li>
    <li role="presentation" {% if current_route == 'workqueue_consents' and viewId is empty %}class="active"{% endif %}>
        <a href="{{ path('workqueue_consents') }}">Participant Consents</a>
    </li>
    {% for workQueueView in workQueueViews %}
        <li role="presentation" {% if viewId == workQueueView.id %}class="active"{% endif %}>
            {% set queryParms = workQueueView.filtersQueryParams ? '?' ~ workQueueView.filtersQueryParams : '' %}
            <a href="{{ path('workqueue_customized_view', { viewId: workQueueView.id }) ~ queryParms }}">
                {{ workQueueView.name }}
            </a>
        </li>
    {% endfor %}
</ul>
<br/>
