{% extends 'readonly/base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h2>Welcome!</h2>
    </div>
    <div class="row home-menu row-equal-height">
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('read_participants') }}" class="btn btn-lg btn-default btn-block">
                <i class="fa fa-user" aria-hidden="true"></i>
                Participant Lookup
                <div class="description">Search for participants by first name, last name, and date of birth, PID, email, or phone number.</div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="{{ path('read_orders') }}" class="btn btn-lg btn-default btn-block">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                Order Lookup
                <div class="description">Search for a biospecimen order by order ID and view recent biospecimen orders.</div>
            </a>
        </div>
    </div>
{% endblock %}
