{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Physical Measurements Blood Donor Check- {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div>
        <div class="page-header pb-1 mb-3 border-bottom">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i> New Physical Measurements
            </h2>
        </div>
        <div class="card border-success mt-4">
            <div class="card-header bg-success text-white">
                Pediatric Assent
            </div>
            <div class="card-body">
                <form method="post" class="prevent-resubmit" id="pediatricAssentForm">
                    <div>
                        <label class="form-label" for="pediatricAssent">
                            Does the pediatric participant assent to physical measures today?
                        </label>
                        <select class="form-select" id="pediatricAssent" name="pediatricAssent">
                            <option value="" selected>Select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                            <option value="unable">Participant is unable to provide assent</option>
                        </select>
                        {% if validationErrorMessage %}
                            <div id="assentErrorMessage" class="text-danger mt-2">
                                <i class="fa fa-exclamation-circle"></i> {{ validationErrorMessage }}
                            </div>
                        {% endif %}
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('pediatricMeasurementAssent') }}"/>
                    <input type="hidden" name="acknowledgeNoAssent" id="acknowledgeNoAssent" value="0"/>
                    <div class="mt-4">
                        <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-secondary" id="cancelBtn">Cancel</a>
                        <button type="submit" class="btn btn-primary d-none" id="continueBtn" disabled>
                            Continue
                            <span id="spinner" class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'partials/modals/pediatric-assent-warning-modal.html.twig' %}
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('pediatric-assent') }}
{% endblock %}
