{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Physical Measurements Blood Donor Check- {% endblock %}
{% block bodycontainer %}container-fluid{% endblock %}
{% block body %}
    <div>
        <div class="page-header pb-1 mb-3 border-bottom">
            <h2>
                <i class="fa fa-clipboard" aria-hidden="true"></i> New Physical Measurements
            </h2>
        </div>
        <div class="card border-success mt-4">
            <div class="card-header bg-success text-white">
                Pediatric Assent
            </div>
            <div class="card-body">
                <div>
                    <label class="form-label" for="pediatricAssent">
                        Does the pediatric participant assent to physical measurements during this visit?
                    </label>
                    <select class="form-select" id="pediatricAssent">
                        <option value="" selected>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <div id="assentErrorMessage" class="text-danger mt-2 d-none">
                        <i class="fa fa-exclamation-circle"></i> The participant has not assented. You may not proceed with physical measurements.
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <a href="{{ path('participant', { id: participant.id }) }}" class="btn btn-secondary" id="cancelBtn">Cancel</a>
            <a href="{{ path('measurement', { participantId: participant.id }) }}" class="btn btn-primary d-none" id="continueBtn">
                Continue
                <span id="spinner" class="spinner-border spinner-border-sm-bs5" style="display: none;"></span>
            </a>
        </div>
    </div>
{% endblock %}
{% block pagejs %}
    {{ encore_entry_script_tags('pediatric-assent') }}
{% endblock %}
