<!doctype html>
<html lang="en">
<head>
    {% set bootstrapVersion = 5 %}
    {% include 'base-head.html.twig' %}
    <title>Physical Measurements Summary - HealthPro</title>
</head>
<body>
    <div id="evaluation-summary">
        {% include 'partials/participant-measurement-summary.html.twig' %}
    </div>
</body>
</html>
