<select name="ehr_data_source" id="{{ id }}">
    {% for group_name,group in ehr_data_sources %}
    <optgroup label="{{ group_name }}">
      {% for source in group %}
      <option value="{{ source.folder }}">{{ source.name }}</option>
      {% endfor %}
    </optgroup>
    {% endfor %}
</select>
