<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="loading-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="alert alert-warning text-center">Refreshing cached metrics - this may take a while...</h4>
                <div id="modal-spinner-target" style="min-height: 200px; position: relative; margin: 20px 0;"></div>
            </div>
            <div class="modal-footer">
                <button class="close" data-dismiss="modal">×</button>
            </div>
        </div>
    </div>
</div>
