{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('imports_home') }}">Imports</a></li>
        <li><a href="{{ path('incentiveImport') }}">Incentive Tracking Import</a></li>
        <li class="active">Incentive Tracking Import Details</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-list" aria-hidden="true"></i> Incentive Tracking Import Details</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-small" id="incentive_import_details" style="width:100%">
                <thead>
                <tr>
                    <th>Participant Id</th>confi
                    <th>User Email</th>
                    <th>Date of Service</th>
                    <th>Incentive Type</th>
                    <th>Other Incentive Type</th>
                    <th>Incentive Occurrence</th>
                    <th>Other Incentive Occurrence</th>
                    <th>Incentive Amount</th>
                    <th>Gift Card Type</th>
                    <th>Notes</th>
                    <th>Declined</th>
                    <th>Created</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('incentive-import') }}
{% endblock %}
