{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">Common Technical FAQs</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-question-circle-o" aria-hidden="true"></i> Common Technical FAQs</h2>
    </div>
    <div class="alert alert-warning lead">
        Coming soon
    </div>
{% endblock %}
