{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">All of Us℠ Research Program SOPs</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> All of Us℠ Research Program SOPs</h2>
    </div>
    <p><em>Education Materials sorted by HPO/DV</em></p>
    <p>
        <strong>TSG</strong>= Troubleshooting guide,
        <strong>VT</strong>= Video Tutorial,
        <strong>SOP</strong>= Standard Operating Procedure
    </p>
    <h3>Full HPO List:</h3>
    <ul>
        <li><a href="#">SOP-001 HPO Creating a PMI Biospecimen Order and Printing Specimen Label and Test Requisition</a></li>
        <li><a href="#">SOP-003 HPO Blood Collection and Processing</a></li>
        <li><a href="#">SOP-005 HPO Urine Collection</a></li>
        <li><a href="#">SOP-007 HPO Saliva Oragene Collection</a></li>
        <li><a href="#">SOP-009 HPO Packaging & Shipping PMI Specimens</a></li>
        <li><a href="#">SOP-010 HPO Ordering Supplies from MML</a></li>
        <li><a href="#">TSG-012 HPO Troubleshooting Guide and Common Mistakes</a></li>
        <li><a href="#">VT-014 HPO Training Chapter 1: Create an Order</a></li>
        <li><a href="#">VT-015 HPO Training Chapter 2: Blood Collection</a></li>
        <li><a href="#">VT-016 HPO Training Chapter 3: Urine Collection</a></li>
        <li><a href="#">VT-017 HPO Training Chapter 4: Saliva Collection</a></li>
        <li><a href="#">VT-018 HPO Training Chapter 5: Shipping Specimens</a></li>
        <li><a href="#">VT-019 HPO Training Chapter 6: Ordering Supplies</a></li>
    </ul>

    <h3>Full DV List:</h3>
    <ul>
        <li><a href="#">SOP-002 DV Registering a PMI Kit and Creating a PMI Biospecimen Order</a></li>
        <li><a href="#">SOP-004 DV Blood Collection and Processing</a></li>
        <li><a href="#">SOP-006 DV Urine Collection</a></li>
        <li><a href="#">SOP-008 DV Saliva Oragene Collection</a></li>
        <li><a href="#">SOP-011 DV Packaging & Shipping PMI Specimens</a></li>
        <li><a href="#">TSG-013 DV Troubleshooting Guide and Common Mistakes</a></li>
        <li><a href="#">VT-020 DV Training Chapter 1: Registering a Kit</a></li>
        <li><a href="#">VT-021 DV Training Chapter 2: Blood Collection</a></li>
        <li><a href="#">VT-022 DV Training Chapter 3: Urine Collection</a></li>
        <li><a href="#">VT-023 DV Training Chapter 4: Saliva Collection</a></li>
        <li><a href="#">VT-024 DV Training Chapter 5: Shipping Specimens</a></li>
    </ul>

{% endblock %}
