{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">Training Videos</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-film" aria-hidden="true"></i> Training Videos</h2>
    </div>
    <div class="alert alert-warning lead">
        Coming soon
    </div>
    {% include 'help/footer.html.twig' %}
{% endblock %}
