<div class="row">
    <div class="col-sm-9">
        {% include 'program/nph/order/partials/participant-details-with-name.html.twig' %}
    </div>
    <div class="col-sm-3">
        <div class="alert text-white ps-3 nph-module-badge nph-module-{{ module }}">Module | NPH Module {{ module }}</div>
        <div class="alert text-white nph-visit nph-visit-badge">Visit | {{ modulePeriodVisitMapper[module~'_'~visit]|default(visitDisplayName) }}</div>
    </div>
</div>
