{% import 'program/nph/order/macros/display-text.html.twig' as macros %}
<div class="page-header border-bottom mb-2">
    <h2>
        <i class="fa fa-medkit" aria-hidden="true"></i>
        {{ order.createdTs|date('n/j/Y', app.user.timezone) }}
        <small>
            <a href="{{ path('nph_participant_summary', { participantId: participant.id }) }}">
                {{ participant.lastName }}, {{ participant.firstName }}
            </a>
        </small>
    </h2>
</div>
{% include 'program/nph/order/partials/order-participant-details-barcode.html.twig' %}
