<ul class="list-group">
    {% if participant.module %}
        <span class="nph-module-badge nph-module-{{ participant.module }}">NPH Module {{ participant.module }}</span>
    {% endif %}
    <li class="list-group-item">

    </li>
</ul>
