<div class="modal fade" id="pound_modal" tabindex="-1" aria-labelledby="poundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Enter Participant Weight In Pounds</p>
                <input type="number" id="modal_pound_input">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="confirm_btn" type="button" class="btn btn-success">Confirm</button>
            </div>
        </div>
    </div>
</div>
