<div class="modal fade" id="confirmation_resubmit_modal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nph-finalize-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i> Finalization</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-success">Are you sure you want to finalize this sample?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="confirm_resubmit_btn" type="button" class="btn btn-success">Finalize</button>
            </div>
        </div>
    </div>
</div>
