{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('imports_home') }}">Imports</a></li>
        <li><a href="{{ path('idVerificationImport') }}">ID Verification Import</a></li>
        <li class="active">ID Verification Import Details</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-list" aria-hidden="true"></i> ID Verification Import Details</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="id_verification_import_details" style="width:100%">
                <thead>
                <tr>
                    <th>Participant ID</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Verification Type</th>
                    <th>Visit Type</th>
                    <th>Created</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('id-verification-import') }}
{% endblock %}
