{% extends 'base.html.twig' %}
{% block title %}FAQs - {% endblock %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('help_home') }}">Help</a></li>
        <li class="active">Technical FAQs</li>
    </ol>
    <div class="page-header">
        <h2><i class="fa fa-question-circle-o" aria-hidden="true"></i> Technical FAQs</h2>
    </div>
    <div class="text-right"><a class="pull-right" href="{{ faqs.link }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open/Download</a></div>
    <iframe class="pdf" name="pdf" src="{{ faqs.web_link }}?embedded=true"></iframe>
    {% include 'help/footer.html.twig' %}
{% endblock %}

