<footer class="footer help-footer">
    <div align="center">
        <p class="text-muted">For further help with HealthPro, please contact 844-842-2854. The Support Center will be accessible from Monday - Friday, 7am - 10pm EST.</p>
        <p class="text-muted">For technical questions regarding HealthPro or account management, please contact <a href = "mailto: drcsupport@vumc.org">drcsupport@vumc.org</a></p>
    </div>
</footer>
