{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header pb-1 mt-5 mb-4 border-bottom">
        <h2>Welcome!</h2>
    </div>
{% endblock %}

{% block pagejs %}
    {{ encore_entry_script_tags('program-hpo') }}
{% endblock %}
