{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <p>
            <i class="fa fa-minus-circle"></i>
            <strong>Access denied!</strong> You are currently logged into Google as <strong>{{ email }}</strong>, but this account does not have access to HealthPro. It is also possible that the authorization service is down.
        </p>
        <p>
            You may <a href="{{ logoutUrl }}">log out of your current Google account</a> to try again or log in with a different account.
        </p>
    </div>
{% endblock %}
