{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <p>
            <i class="fa fa-minus-circle"></i>
            Unable to proceed: Request ID is missing from the HealthPro launch URL.
        </p>
    </div>
{% endblock %}
