{% extends 'program/hpo/ppsc/base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <i class="fa fa-minus-circle"></i>
        <strong>Authentication failed.</strong> Please try again.
    </div>
{% endblock %}
