{% extends 'base.html.twig' %}
{% block title %}Error - {% endblock %}
{% block body %}
    <div class="alert alert-danger">
        <p>
            <i class="fa fa-minus-circle"></i>
            Failed to retrieve the request ID from the session. Please ensure you are not using incognito mode, as it may prevent sessions from being created.
        </p>
    </div>
{% endblock %}
