<div class="modal-header">
    <h4 class="modal-title">{{ notification.title }}</h4>
</div>
<div class="modal-body">
    <p>{{ notification.message }}</p>
    {% if notification.url %}
        <div class="text-right">
            <a href="{{ notification.url }}" target="_blank">View New Feature <i class="fa fa-arrow-right"></i></a>
        </div>
    {% endif %}
    {% include "partials/notifications-confluence-link.html.twig" %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
