{% extends 'base.html.twig' %}
{% block title %}Choose Program - {% endblock %}
{% block body %}
    <div class="row program-select justify-content-center">
        <h4 class="text-center text-primary mb-4">Please select your program</h4>
        <div class="col-md-3">
            <a href="{{ path('program_select', { program: 'hpo' }) }}" role="button">
                <img src="{{ asset('img/login/carousel/LogoHPRO.jpg') }}" class="img-fluid" alt="HealthPro">
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('program_select', { program: 'nph' }) }}" role="button">
                <img src="{{ asset('img/login/carousel/LogoNPH.jpg') }}" class="img-fluid" alt="Nutrition for Precision Health">
            </a>
        </div>
    </div>
{% endblock %}
