{# We will not have access to assets because this route is not secured. #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Session Timeout - HealthPro</title>
</head>
<body>
<div style="margin: 20px;">
    <strong>Your session has expired.</strong> For security reasons, you have been automatically logged out.
    {% if not source %}
        <a href="{{ path('home') }}">Return to HealthPro</a>.
    {% endif %}
</div>
</body>
</html>
