<div class="modal fade" id="order_resubmit_confirmation_modal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header nph-finalize-modal-header">
                <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> Resubmission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="alert alert-success">Are you sure you want to resubmit the following sample(s)? Unfinalized samples will be saved and finalized samples will be re-finalized with the updated order data.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="confirm_finalize_btn" type="button" class="btn btn-success">Resubmit</button>
            </div>
        </div>
    </div>
</div>
