<script type="text/html" id="pmiConfirmTpl">
    <div class="modal fade" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pmi-x-out d-none"><span>&times;</span></button>
                    <h4 class="modal-title">Please Confirm</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <span class="text-danger pmi-confirm-err" style="display: none;">
                        <i class="fa fa-exclamation-circle"></i>
                        <em>Please correct errors above...</em>
                    </span>
                    <button type="button" class="btn btn-success pmi-confirm-ok">OK</button>
                    <button type="button" class="btn btn-secondary pmi-confirm-cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>
