<script type="text/html" id="pmiSystemUsageTpl">
    <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Warning Notice</strong>
        <p>You are accessing a computer system created by Vanderbilt University Medical Center as the Data and Research Center of the <em>All of Us</em> Research Program and additional ancillary studies, funded by the National Institutes of Health. Unauthorized access or use of this computer system may subject violators to criminal, civil, and/or administrative action. The privacy of all research data including all information that identifies a participant and any individually identifiable health information must be protected at all times and may only be disclosed in accordance with program policies and privacy laws.</p>
        <p>All information on this computer system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel for official purposes, including criminal investigations. Such information includes sensitive data encrypted to comply with confidentiality and privacy requirements. Access or use of this computer system by any person, whether authorized or unauthorized, constitutes consent to these terms and that you understand that while performing your official duties you may have access to information that is classified as either confidential, sensitive, or formally designated protected health information, and that you agree to protect this information in accordance with all relevant federal and state regulations, including but not limited to the Privacy Act of 1974 (PL 93-579). Unauthorized access, use, modification, disclosure, or destruction may subject violators to criminal, civil, and/or administrative action. There is no right of privacy in this system.</p>
    </div>
    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token('agreeUsage') }}" />
</script>
