<div class="modal fade" id="edit_view_modal" tabindex="-1" role="dialog" aria-labelledby="editViewModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'workqueue/partials/save-view-modal.html.twig' %}
        </div>
    </div>
</div>
