<button class="btn btn-success btn-xs" id="save_view" type="button">Save View {% if viewId %} As {% endif %}</button>
<button class="btn btn-default btn-xs" id="manage_views" type="button">Manage Views</button>
