<button class="btn btn-success btn-xs view-btn" id="save_view" type="button">
    {% if viewId %}
        Save As New
    {% else %}
        Save View
    {% endif %}
</button>
<button class="btn btn-default btn-xs view-btn" id="manage_views" type="button">Manage Views</button>
