<div class="page-header">
    <h2><i class="fa fa-list" aria-hidden="true"></i> Participant Review</h2>
</div>
{% set current_route = app.request.get('_route') %}
<ul class="nav nav-tabs">
    <li role="presentation"{% if current_route == 'nph_review_today' %}class="active"{% endif %}><a href="{{ path('nph_review_today') }}">Today's Participants</a></li>
    <li role="presentation"{% if current_route == 'nph_review_unfinalized' %}class="active"{% endif %}><a href="{{ path('nph_review_unfinalized') }}">Unfinalized Samples</a></li>
    <li role="presentation"{% if current_route == 'nph_review_recently_modified' %}class="active"{% endif %}><a href="{{ path('nph_review_recently_modified') }}">Recently Modified</a></li>
</ul>
<br />
