###
# Local development configuration
#   To avoid the tedious work required to add local Configuration entities to datastore,
#   you can copy this file to config.yml and edit as necessary.  Any Configuration
#   datastore entities will take precedence over these values.  Nothing in this directory
#   is deployed to GAE projects and is only valid in dev.
#
# Google service account keys
#   Get the key from secret manager gaAuthJson field and store key files in this directory
#   (rdr_key.json and googleapps_key.json) Both will have the same key
###

# MySQL connection
mysql_schema: hpo
mysql_user: root
mysql_password: ~
mysql_host: healthpro-mysql

# RDR API
#   Note: Store service account key in rdr_key.json
# Override API endpoint if necessary
# rdr_endpoint: https://pmi-drc-api-test.appspot.com/


#
# MayoLINK configuration
#
# Specify mock order ID to skip order creation in MayoLINK
ml_mock_order: pmitest

# Specify MayoLINK API endpoint and credentials
# ml_orders_endpoint: https://test.orders.mayocliniclabs.com
# ml_username:
# ml_password:

# Path to help documents
# help_storage_path: https://storage.googleapis.com/pmi-hpo-staging.appspot.com
# help_videos_path:

# Google Apps configuration
# Bypass Google Apps auth
gaBypass: 1
# Google Groups to use when bypassing Google Apps auth
gaBypassGroups:
    -   email: hpo-site-monroeville@staging.pmi-ops.org
        name: Monroeville
    -   email: hpo-site-upmc@staging.pmi-ops.org
        name: UPMC
    -   email: site-admin@staging.pmi-ops.org
        name: Site Management

# Or, configure Google Apps auth
#   Note: Store service account key in googleapps_key.json
gaApplicationName: PMI DRC HPO
gaDomain: staging.pmi-ops.org
gaAdminEmail: hpo-api@staging.pmi-ops.org

# require user to have two-factor authentication enabled
enforce2fa: 0

# Mandrill configuration for sending emails
# mail_method: mandrill
# mandrill_key:

# enable site sync using RDR Organization API
sites_use_rdr: true

# Enable Google Analytics by setting property ID
google_analytics_property: UA-XXXXXXXX-NN

# order_samples_version:
# order_samples_info_3:

# Disables test user and test awardee participant write access when set to true
# disable_test_access: false

# patient_status_queue_limit: 10

# disable_patient_status_message:

# Work Queue export limits
workqueue_export_limit: 10000
workqueue_export_page_size: 1000

# Enable Stackdriver locally. When set to true, will send logs to the project
# associated with the service account you are using to connect to the RDR.
# local_stackdriver_logging: false

# Datastore clean up limit
ds_clean_up_limit:

# Stable default MayoLink account numbers
ml_account_hpo:
ml_account_dv:

# Set mock login
# local_mock_auth: 1

# Report Kit url
reportKitUrl:

# Set diversion pouch site name
diversion_pouch_site: ECDC DV Diversion Pouch

# Jira API credentials for release ticket creation
# See https://id.atlassian.com/manage-profile/security/api-tokens
# jira_api_user:
# jira_api_token:

# Account ids to mention specific people in release ticket
# jira_account_ids:
#     dev:
#         - 1001
#         - 1002
#         - 1003
#     qa:
#         - 1011
#     change:
#         - 1021
#         - 1022
#     business:
#         - 1031
#         - 1032
#     security:
#         - 1041
#         - 1042

#
# Feature flags
#

# Enables Google Groups role check for ROLE_MANAGE_USERS role
# feature.manageusers: true

# EHR protocol modification banner message
ehr_protocol_banner_message:

# When set only these sites will be able to access managed access dashbaord
# feature.managegrouppilotsites: hpo-site-test@pmi-ops.org, hpo-site-test2@pmi-ops.org

# DRC support email address
# feature.drcsupportemail:

# backfill_order_limit: 1000

# Displays participant consents tab in work queue
# feature.participantconsentsworkqueue: false

# Dashboard URL displayed on the login page
# dashboard_url:

# For getting secret manager credential in local env
# local_use_secret_manager: false

# enable site sync using RDR Organization API
# nph_sites_use_rdr: false

# Biobank Id Prefix
biobank_id_prefix: Y
nph_biobank_id_prefix: T

# Define Cloud SQl Users
cloudsql_users:
