###
# Local development configuration
#   To avoid the tedious work required to add local Configuration entities to datastore,
#   you can copy this file to config.yml and edit as necessary.  Any Configuration
#   datastore entities will take precedence over these values.  Nothing in this directory
#   is deployed to GAE projects and is only valid in dev.
#
# Google service account keys
#   Store key files in this directory as specified in the comments below
#   (rdr_key.json and googleapps_key.json)
###

# MySQL connection
mysql_schema: hpo
mysql_user: root
mysql_password: ~
mysql_host: 127.0.0.1

# RDR API
#   Note: Store service account key in rdr_key.json
# Override API endpoint if necessary
# rdr_endpoint: https://pmi-drc-api-test.appspot.com/


#
# MayoLINK configuration
#
# Specify mock order ID to skip order creation in MayoLINK
ml_mock_order: pmitest

# Specify MayoLINK URLs to point to non-production
# ml_orders_endpoint: https://test.orders.mayomedicallaboratories.com
# ml_auth_endpoint: https://test.pm.mayomedicallaboratories.com/authn
# ml_provider_name: test.mayomedicallaboratories.com
# ml_label_pdf: /en/orders/{id}/label.pdf
# ml_requisition_pdf: /en/orders/{id}.pdf

# Specify MayoLINK credentials to create real orders in MayoLINK
# ml_username:
# ml_password:

# Path to help documents
# help_storage_path: https://storage.googleapis.com/pmi-hpo-staging.appspot.com

# Google Apps configuration
# Bypass Google Apps auth
gaBypass: 1
# Google Groups to use when bypassing Google Apps auth
gaBypassGroups:
  - email: hpo-site-monroeville@staging.pmi-ops.org
    name: Monroeville
  - email: hpo-site-upmc@staging.pmi-ops.org
    name: UPMC
  - email: admin-dashboard@staging.pmi-ops.org
    name: Admin Dashboard
  - email: site-admin@staging.pmi-ops.org
    name: Site Management
# Or, configure Google Apps auth
#   Note: Store service account key in googleapps_key.json
gaApplicationName: PMI DRC HPO
gaDomain: staging.pmi-ops.org
gaAdminEmail: hpo-api@staging.pmi-ops.org

# use Google App Engine auth via UserService instead of Google OAuth
gae_auth: 1

# require user to have two-factor authentication enabled
enforce2fa: 0

# Mandrill configuration for sending emails
# mail_method: mandrill
# mandrill_key: 

# enable site sync using RDR Organization API
sites_use_rdr: true

# Enable Google Analytics by setting property ID
# google_analytics_property: UA-XXXXXXXX-NN
# order_samples_version:
# order_samples_info_3:
