###
# Local development configuration
#   To avoid the tedious work required to add local Configuration entities to datastore,
#   you can copy this file to config.yml and edit as necessary.  Any Configuration
#   datastore entities will take precedence over these values.  Nothing in this directory
#   is deployed to GAE projects and is only valid in dev.
#
# Google service account keys
#   Store key files in this directory as specified in the comments below
#   (rdr_key.json and googleapps_key.json)
###

# MySQL connection
mysql_schema: hpo
mysql_user: root
mysql_password: ~
mysql_host: 127.0.0.1

# RDR API
#   Note: Store service account key in rdr_key.json
rdr_endpoint: https://pmi-rdr-api-test.appspot.com/_ah/api/

# MayoLINK configuration
# Specify mock order ID to skip order creation in MayoLINK
ml_mock_order: pmitest
# Specify MayoLINK credentials to create real orders in MayoLINK
# ml_username:
# ml_password:

# Google Apps configuration
# Bypass Google Apps auth
gaBypass: 1
# Google Groups to use when bypassing Google Apps auth
gaByassGroups:
  - email: hpo-site-hogwarts@pmi-ops.io
    name: Hogwarts
  - email: hpo-site-durmstrang@pmi-ops.io
    name: Durmstrang
  - email: hpo-site-beauxbatons@pmi-ops.io
    name: Beauxbatons
  - email: admin-dashboard@pmi-ops.io
    name: Admin Dashboard
# Or, configure Google Apps auth
#   Note: Store service account key in googleapps_key.json
gaApplicationName: PMI DRC HPO
gaDomain: staging.pmi-ops.org
gaAdminEmail: hpo-api@staging.pmi-ops.org

# use Google App Engine auth via UserService instead of Google OAuth
gae_auth: 1

# IP whitelist (CSV)
ip_whitelist:
