{% if moduleNumber == 1 %}
    {% if participant.module1TissueConsentStatus == constant('OPTIN_PERMIT', participant) %}
        <span title="The participant has opted into hair and nail collections" data-toggle="tooltip" data-container="body" class="label label-success hair-nail-optin"><i class="glyphicon glyphicon-ok"></i> Hair & Nail Opt-In</span>
    {% elseif participant.module1TissueConsentStatus == constant('OPTIN_NAIL', participant) %}
        <span title="The participant has opted into nail collections only" data-toggle="tooltip" data-container="body" class="label label-warning hair-nail-optin"><i class="glyphicon glyphicon-ok"></i> Nail Only Opt-In</span>
    {% elseif participant.module1TissueConsentStatus == constant('OPTIN_HAIR', participant) %}
        <span title="The participant has opted into hair collections only" data-toggle="tooltip" data-container="body" class="label label-warning hair-nail-optin"><i class="glyphicon glyphicon-ok"></i> Hair Only Opt-In</span>
    {% else %}
        <span title="The participant has <u>not</u> opted into hair and nail collections"  data-html="true" data-toggle="tooltip" data-container="body" class="label label-danger hair-nail-optin"><i class="glyphicon glyphicon-remove"></i> Hair & Nail Opt-In</span>
    {% endif %}
{% endif %}
