<div class="modal fade" tabindex="-1" id="sample_process_complete_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want mark the samples as processing complete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="sample_process_go_back" data-bs-dismiss="modal">Go Back</button>
                <button type="button" class="btn btn-primary" id="sample_process_complete_continue">Continue</button>
            </div>
        </div>
    </div>
</div>
{{ form_start(sampleProcessCompleteForm) }}
{{ form_end(sampleProcessCompleteForm) }}
